<section class="sub_banner sub_product_family_insurance">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>AN SINH BƯU ĐIỆN - TAI NẠN HỘ GIA ĐÌNH</h2>
                <p>Món quà ý nghĩa dành tặng cho cả gia đình bạn</p>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_introduction_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Giới thiệu sản phẩm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Sản phẩm AN SINH BƯU ĐIỆN - TAI NẠN HỘ GIA ĐÌNH sẽ giúp cho cả gia đình bạn ứng phó với các tai nạn không mong
                            muốn trong cuộc sống. </p>
                        <p>Cả gia đình bạn sẽ được phục vụ 24/7 trong suốt cả năm chỉ với một chi phí RẤT NHỎ.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_highlight">
                        <ul>
                            <li>
                                <p>Số tiền bảo hiểm</p>
                                <p>
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.insurancePackageDescription}}</strong></p>
                            </li>
                            <li>
                                <p>Phí bảo hiểm</p>
                                <p>
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.insuranceCost | numberConverter}} VNĐ/năm/hộ</strong></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section bg_white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/product_introduction_01.png" alt="" class="img_responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Đối tượng được bảo hiểm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Tất cả những người có tên trong cùng sổ hộ khẩu của Người mua bảo hiểm & không quá 70 tuổi tại thời
                            điểm tham gia bảo hiểm. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Quyền lợi bảo hiểm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Tử vong, thương tật toàn bộ vĩnh viễn do tai nạn: được chi trả 100% Số tiền bảo hiểm.</p>
                        <p>Thương tật thân thể (thương tật bộ phận vĩnh viễn, thương tật tạm thời) do tai nạn: được chi trả
                            theo Bảng tỷ lệ thương tật đính kèm theo quy tắc bảo hiểm, tối đa đến số tiền bảo hiểm.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/product_introduction_02.png" alt="" class="img_responsive">
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_features_section bg_white">
    <div class="container">
        <div class="product_details_content">
            <div class="row">
                <div class="col-md-12">
                    <div class="product_details_title">
                        <h2>Các điểm nổi bật của sản phẩm</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td class="col-md-3 mobile_hide"></td>
                            <td class="col-md-5 col-xs-12 highlight text-center text-bold">
                                <strong>BẢO HIỂM BẢO AN BƯU ĐIỆN</strong>
                            </td>
                            <td class="col-md-4 text-center text-bold mobile_hide">
                                <strong>SẢN PHẨM THÔNG THƯỜNG</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide"><strong>Thủ tục mua bảo hiểm</strong></td>
                            <td class="col-md-5 col-xs-12 highlight">
                                <strong>KHÔNG</strong> cần phải liệt kê tên của bất kỳ thành viên nào trong gia đình bạn khi tham
                                gia bảo hiểm.</td>
                            <td class="col-md-4 mobile_hide">
                                <strong>PHẢI</strong> liệt kê thông tin của tất cả những thành viên trong hộ gia đình khi muốn tham
                                gia bảo hiểm.</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide"><strong>Quyền lợi bảo hiểm</strong></td>
                            <td class="col-md-5 col-xs-12 highlight">
                                <ul>
                                    <li>Phí tính cho
                                            <strong>CẢ HỘ</strong> và rất cạnh tranh.</li>
                                    <li>Chỉ cần 01
                                        <strong>NGƯỜI THAM GIA</strong>, tất cả các thành viên trong sổ hộ khẩu của gia đình sẽ được
                                        bảo hiểm.</li>
                                    <li>
                                        <strong>KHÔNG</strong> tính bảo hiểm trùng đối với chi phí y tế.</li>
                                    <li>
                                        <strong>VẪN</strong> được bồi thường cho dù bạn đã được bảo hiểm y tế chi trả 100%.</li>
                                </ul>
                            </td>
                            <td class="col-md-4 mobile_hide">
                                <ul>
                                    <li>Phí bảo hiểm được tính trên đầu người, hộ càng đông người thì phí bảo hiểm càng cao</li>
                                    <li>Phải mua bảo hiểm riêng cho từng người.</li>
                                    <li>
                                        <strong>CÓ</strong> tính bảo hiểm trùng đối với chi phí y tế nếu Bạn đồng thời mua bảo hiểm
                                        tại nhiều Công ty bảo hiểm.</li>
                                    <li>Bồi thường dựa trên chi phí y tế thực tế mà Bạn đã trả khi điều trị tai nạn nên nếu bạn
                                        thuộc đối tượng được miễn giảm chi phí y tế thì sẽ không được bồi thường.</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide"><strong>Thủ tục bồi thường</strong></td>
                            <td class="col-md-5 col-xs-12 highlight">
                                <ul>
                                    <li>
                                        <strong>CHỈ</strong> cần cung cấp chứng từ để Chúng tôi xác định tỉ lệ thương tật (như Giấy
                                        ra viện) mà
                                        <strong>KHÔNG CẦN</strong> cung cấp toàn bộ hóa đơn chi phí điều trị khi yêu cầu bồi thường.</li>
                                    <li>
                                        <strong>CHỈ</strong> cần cung cấp hình ảnh bản gốc của hồ sơ là bạn sẽ được xem xét giải
                                        quyết và được Tổng đài 19006727 thông báo số tiền bồi thường <strong>NGAY</strong>.</li>
                                    <li>
                                        <strong>CHỈ</strong> phải gởi hồ sơ bản gốc cho chúng tôi MỘT lần sau khi Bạn nhận được thông
                                        báo số tiền bồi thường từ Tổng đài 19006727.</li>
                                    <li>
                                        <strong>VẪN</strong> được bồi thường cho dù bạn đã được bảo hiểm y tế chi trả 100%.</li>
                                </ul>
                            </td>
                            <td class="col-md-4 mobile_hide">
                                <ul>
                                    <li>Phải cung cấp toàn bộ hóa đơn, chứng từ chứng minh số tiền bạn đã chi trả khi điều trị.</li>
                                    <li>Phải nộp Hồ sơ bản gốc cho Công ty bảo hiểm trước khi được xem xét giải quyết và thông
                                        báo bồi thường.</li>
                                    <li>Tốn chi phí do phải gởi Hồ sơ yêu cầu bồi thường nhiều lần nếu Bạn phải bổ sung hồ sơ.
                                    </li>
                                    <li>Chỉ được nhận tiền bồi thường theo cách thức do Công ty bảo hiểm chỉ định.</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/product_introduction_03.png" alt="" class="img_responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Làm gì khi xảy ra tai nạn?</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Gọi ngay đến số
                            <strong>19006727</strong> 
                            <!-- hoặc
                            <strong>0898078696</strong>  -->
                            để được hỗ trợ và hướng dẫn</p>
                        <!-- <p>Thông báo ngay cho
                            <strong>CƠ QUAN CÔNG AN</strong> hoặc
                            <strong>CHÍNH QUYỀN ĐỊA PHƯƠNG</strong> trong trường hợp tai nạn nghiêm trọng (tử vong…)</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section buy_now">
    <div class="container">
        <div class="row">
            <button type="button" (click)="buyNow()" class="btn btn-lg btn-warning center-block">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua ngay</button>
        </div>
    </div>
</section>