<section class="sub_banner sub_policy_background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Chính sách bảo mật thông tin cá nhân</h2>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_introduction_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product_details_content">
                    <div class="product_details_description">
                        <p style="font-size: 16px">Tại PTI, chúng tôi nhận ra rằng quyền riêng tư là quan trọng. Chính sách này áp dụng cho
                            tất cả các dịch vụ chúng tôi cung cấp. Là một nhà cung cấp các sản phẩm bảo hiểm, chúng tôi hoàn
                            toàn tuân thủ các luật và quy định của Nước Cộng Hòa Xã hội Chủ nghĩa Việt Nam về bảo vệ và bảo
                            mật tính riêng tư và an toàn thông tin của Quý khách.</p>
                        <p style="font-size: 16px">Khi tham gia mua các sản phẩm trên
                            <a href="http://etpasaigon.vn" target="_blank">http://etpasaigon.vn</a>, Quý khách cần phải cung cấp một số thông tin cần thiết. Các thông tin
                            này nhằm giúp PTI cung cấp dịch vụ, thiết lập giao dịch, xác định phần thanh toán và
                            cung cấp sản phẩm chính xác cho Quý Khách.</p>
                        <p style="font-size: 16px">PTI cũng lưu trữ bất kỳ thông tin nào do Quý Khách khai báo trên
                            <a href="http://etpasaigon.vn" target="_blank">http://etpasaigon.vn</a>, những thông tin đó sẽ được sử dụng cho mục đích phản hồi yêu cầu của
                            Quý Khách, đưa ra những gợi ý phù hợp cho từng Quý Khách khi mua sản phẩm trên website, nâng
                            cao chất lượng dịch vụ và liên lạc với Quý Khách khi cần. Ngoài ra, các thông tin giao dịch gồm:
                            lịch sử mua hàng, giá trị giao dịch, phương thức vận chuyển và thanh toán cũng được bảo hiểm
                            PTI lưu trữ nhằm giải quyết những vấn đề có thể phát sinh về sau.</p>
                        <p style="font-size: 16px">Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp, PTI được miễn trừ mọi trách
                            nhiệm pháp lý đối với thông tin do Quý khách khai báo</p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Thu Thập Thông Tin</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">Khi quý khách có nhu cầu sử dụng sản phẩm dịch vụ của PTI trên website cần cung cấp một
                            số thông tin về cá nhân và về đối tượng bảo hiểm như sau: tên, ngày sinh, điện thoại, địa chỉ
                            liên hệ, email, số CMND/căn cước hay hộ chiếu của đối tượng bảo hiểm. Tùy theo từng sản phẩm
                            do khách hàng lựa chọn mà các thông tin yêu cầu cung cấp sẽ khác nhau.</p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Sử dụng thông tin</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">Các thông tin do Quý khách khai báo sẽ được sử dụng cho các mục đích sau đây:</p>
                        <ul style="font-size: 16px">
                            <li>Xác nhận danh tính Quý Khách, xác định danh tính của đối tượng bảo hiểm</li>
                            <li>Xác nhận thanh toán</li>
                            <li>Thực hiện các công việc khảo sát khách hàng, thực hiện các hoạt động quảng bá liên quan đến các
                                sản phẩm và dịch vụ PTI</li>
                            <li>Sử dụng thông tin thu thập để chăm sóc Quý Khách tốt hơn mang lại cho Quý Khách sự thỏa mãn tuyệt
                                đối với các dịch vụ cộng thêm được cung cấp bởi PTI</li>
                        </ul>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Chia sẻ thông tin với bên thứ 3</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">Thông tin về Quý khách là một phần rất quan trọng trong việc kinh doanh và PTI sẽ không
                            bán, không trao đổi cho một bên thứ ba nào khác. Chúng tôi không chia sẻ thông tin khách hàng
                            trừ những trường hợp cụ thể sau đây:</p>
                        <ul style="font-size: 16px">
                            <li>
                                <b>Thông tin và dữ liệu được chia sẻ trong hệ thống Tổng công ty PTI, công ty thành viên PTI,
                                    công ty tái bảo hiểm, đơn vị giải quyết bồi thường và các đơn vị khác có liên quan đến
                                    việc quản lý đơn bảo hiểm và giải quyết bồi thường cho Quý Khách.</b>
                            </li>
                            <li>Thông tin được chia sẻ là mã đơn hàng và số tiền của đơn hàng, không bao gồm các thông tin cá
                                nhân của Quý khách nhằm thực hiện đối với các đơn hàng thanh toán trực tuyến. Khi thanh toán
                                phí bảo hiểm, khách hàng thực hiện theo yêu cầu của bên thứ 3 là cổng thanh toán và các ngân
                                hàng, được các bên thứ ba đảm bảo an ninh an toàn khi giao dịch.</li>
                            <li>PTI đã kí hợp đồng với các đơn vị cổng thanh toán, ví điện tử và các ngân hàng, đảm
                                bảo các giao dịch thanh toán của Quý Khách được an toàn và bảo mật theo quy định của Pháp
                                Luật về thanh toán điện tử.</li>
                            <li>Khi có yêu cầu của các cơ quan nhà nước có thẩm quyền, chúng tôi sẽ phối hợp cung cấp các thông
                                tin theo đúng quy định của pháp luật và trong phạm vi thẩm quyền</li>
                            <li>Trong những trường hợp còn lại, chúng tôi chỉ cung cấp thông tin cho bên thứ ba khi và chỉ khi
                                nhận được sự đồng ý của Quý khách bằng văn bản</li>
                        </ul>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Lưu trữ và bảo vệ thông tin</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">Thông tin về Quý Khách và website được lưu trữ an toàn và bảo mật, dữ liệu được mã hóa và được sao
                            lưu 01 bản với mục đích đề phòng các rủi ro thất thoát thông tin.</p>
                        <p style="font-size: 16px">Website được bảo vệ bởi nhiều giải pháp cộng nghệ tiến triển, sử dụng nhiều tầng tường lửa, sử dụng
                            chứng thư số CA, chống giả mạo…</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>