<section class="sub_banner sub_product_car_insurance">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          style="
            display: inline-block;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.2);
          "
          >
          <h2 style="color: #ff9933">{{ cmsInfo?.name }}</h2>
          <p style="color: #0066cc">{{ cmsInfo?.shortDescription }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="payment-sumary-frame col-md-3">
    <h4>Thông tin bảo hiểm</h4>
    <hr class="custom-line" />
    <div>
      <div>
        <div class="form-group">
          <input
            type="checkbox"
            id="checkTime"
            (change)="setRangeExprireDate()"
            name="checkTime"
            [(ngModel)]="isCheckRangeTime"
          />
          <label
            for="checkTime"
            style="font-weight: normal; text-align: justify"
            ><small
              >Xe cơ giới tạm nhập, tái xuất; Xe còn niên hạn sử dụng nhỏ hơn 1
              năm; Xe thuộc đối tượng đăng ký tạm thời theo quy định của Bộ Công
              an; Xe cần gộp thời điểm bảo hiểm để quản lý (trường hợp chủ xe cớ
              giờ có nhiều xe tham gia bảo hiểm tại các thời điểm khác
              nhau).</small
            ></label
          >
        </div>
      </div>
      <div>
        <label>Thời hạn bảo hiểm</label>
        <div class="row">
          <div class="col-md-6">
            Ngày hiệu lực
            <input
              [owlDateTimeTrigger]="dt1"
              [owlDateTime]="dt1"
              [min]="minEffectiveDate"
              [(ngModel)]="carInsuranceOrder.effectiveDate"
              (ngModelChange)="setRangeExprireDate()"
              class="form-control"
              placeholder="Ngày hiệu lực"
            />
            <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
          </div>
          <div class="col-md-6">
            Ngày hết hạn
            <input
              [owlDateTimeTrigger]="dt2"
              [owlDateTime]="dt2"
              [min]="minExpiryDate"
              [max]="maxExpiryDate"
              [(ngModel)]="carInsuranceOrder.expiryDate"
              class="form-control"
              placeholder="Ngày hết hạn"
            />
            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
          </div>
        </div>
      </div>
      <hr class="custom-line" />
      <div class="row">
        <div class="col-md-12">
          <span style="font-weight: bold; color: #ff9933; font-size: 13px"
            >Tính phí bảo hiểm TNDS (gồm VAT)</span
          >
          <p style="font-size: 18px; font-weight: bold; float: right">
            {{ civilLiabilitionInsuranceCost | numberConverter }} vnđ
          </p>
        </div>
        <div class="col-md-12">
          <span style="font-weight: bold; color: #ff9933; font-size: 13px"
            >Phí BH tai nạn người ngồi trên xe (miễn VAT)</span
          >
          <p style="font-size: 18px; font-weight: bold; float: right">
            {{ passengerInsuranceCost | numberConverter }} vnđ
          </p>
        </div>
        <br />
        <div class="col-md-12">
          <label>
            <i class="fa fa-dollar" aria-hidden="true"></i> Tổng phí bảo
            hiểm</label
          >
          <br />
          <p style="font-size: 18px; font-weight: bold; float: right">
            {{ finalInsuranceCost | numberConverter }} vnđ
          </p>
        </div>
      </div>
      <hr
        *ngIf="receiveCertificate"
        class="dashed-line"
        style="margin-top: 6px"
      />
      <div *ngIf="receiveCertificate">
        <div class="form-group">
          <input
            type="checkbox"
            [checked]="carInsuranceOrder.takingPaperCertification"
            (change)="changeTakingPaperCertification()"
            name="optionsRadios"
            id="optionsRadios1xx"
            [disabled]="
              optionPackages.requiredTakingPaperCertificate || currentStep >= 3
            "
          />
          <label for="optionsRadios1xx"> Nhận Giấy chứng nhận bảo hiểm</label>
          <small
            ><cite
              >GCNBH sẽ được chuyển phát nhanh đến quý khách trong vòng
              <b>02</b> ngày làm việc (Không bao gồm thứ 7 và chủ nhật, Ngày lễ,
              Tết).</cite
            ></small
          >
          <small
            ><cite><b>Miễn phí vận chuyển</b></cite></small
          >
        </div>
      </div>
    </div>
  </div>

  <div class="payment-step col-md-9">
    <div class="row bs-wizard" style="border-bottom: 0">
      <div
        class="col-xs-3 bs-wizard-step"
        [ngClass]="currentStep >= 1 ? 'complete' : 'disabled'"
      >
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="#" class="bs-wizard-dot">
          <i class="fa fa-tags process-nav-icon"></i>
        </a>
        <div class="text-center bs-wizard-stepnum">Tính phí bảo hiểm</div>
      </div>
      <div
        class="col-xs-3 bs-wizard-step"
        [ngClass]="currentStep >= 2 ? 'complete' : 'disabled'"
      >
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="#" class="bs-wizard-dot">
          <i class="fa fa-book process-nav-icon"></i>
        </a>
        <div class="text-center bs-wizard-stepnum">Thông tin hợp đồng</div>
      </div>
      <div
        class="col-xs-3 bs-wizard-step"
        [ngClass]="currentStep >= 3 ? 'complete' : 'disabled'"
      >
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="#" class="bs-wizard-dot">
          <i class="fa fa-check-square process-nav-icon"></i>
        </a>
        <div class="text-center bs-wizard-stepnum">Xác nhận thông tin</div>
      </div>
      <div class="col-xs-3 bs-wizard-step disabled">
        <div class="progress">
          <div class="progress-bar"></div>
        </div>
        <a href="#" class="bs-wizard-dot">
          <i class="fa fa-credit-card process-nav-icon"></i>
        </a>
        <div class="text-center bs-wizard-stepnum">Thanh toán</div>
      </div>
    </div>
    <!-- end process nav -->

    <div [hidden]="currentStep != 1">
      <div class="row">
        <div>
          <form [formGroup]="carForm">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <h4 style="margin: 12px 0">THÔNG TIN XE CƠ GIỚI</h4>
                  <br />
                  <label for="22"
                    >Mục đích sử dụng
                    <span style="color: red">*</span>
                  </label>
                  <div class="row text-center">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input
                          type="radio"
                          name="optionsRadios"
                          id="optionsRadios"
                          [checked]="carInsuranceOrder.purposeType == 0"
                          (click)="loadCarTypeByUsingPurposeId(0)"
                        />
                        <label class="custom-label" for="optionsRadios"
                          >Kinh doanh</label
                        >
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input
                          type="radio"
                          name="optionsRadios"
                          id="optionsRadios1"
                          [checked]="carInsuranceOrder.purposeType == 1"
                          (click)="loadCarTypeByUsingPurposeId(1)"
                        />
                        <label class="custom-label" for="optionsRadios1"
                          >Không kinh doanh</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="22"
                      >Loại xe
                      <span style="color: red">*</span>
                    </label>
                    <select2-ng2
                      [(ngModel)]="carInsuranceOrder.usingPurposeId"
                      formControlName="usingPurposeId"
                      (ngModelChange)="onChangeUsingPurpose(carInsuranceOrder.usingPurposeId)"
                    >
                      <select
                        class="form-control"
                        data-placeholder="Loại xe"
                        style="width: 100%"
                      >
                        <option *ngFor="let p of usingPurposes" [value]="p.id">
                          {{ p.name }}
                        </option>
                      </select>
                    </select2-ng2>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div
                    class="form-group"
                    [class.has-error]="carForm['controls'].cost?.invalid"
                  >
                    <label for="input4"
                      >Số chỗ ngồi đăng ký theo xe
                      <span style="color: red">*</span>
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      id="input100"
                      [attr.disabled]="(seatCapacityMinValue == null || seatCapacityMaxValue == null) ? '' : null"
                      placeholder="Số chỗ ngồi đăng ký theo xe"
                      [(ngModel)]="carInsuranceOrder.seatCapacity"
                      formControlName="seatCapacity"
                      (focusout)="onChangeSeatCapacity()"
                    />
                    <small
                      *ngIf="carForm['controls'].seatCapacity?.invalid"
                      style="color: orangered"
                    >
                      <cite *ngIf="seatCapacityMinValue != null && seatCapacityMaxValue != null">Giá trị tối thiểu là {{ seatCapacityMinValue }}, tối đa
                        {{ seatCapacityMaxValue }}</cite
                      >
                    </small>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div
                    class="form-group"
                    [class.has-error]="carForm['controls'].cost?.invalid"
                  >
                    <label for="input4"
                      >Trọng tải đăng ký theo xe
                      <span style="color: red">*</span>
                    </label>
                    <input
                      type="number"
                      class="form-control"
                      id="input100"
                      [attr.disabled]="(weightCapacityMinValue == null || weightCapacityMaxValue == null) ? '' : null"
                      placeholder="Trọng tải đăng ký theo xe"
                      [(ngModel)]="carInsuranceOrder.weightCapacity"
                      formControlName="weightCapacity"
                    />
                    <small
                      *ngIf="carForm['controls'].weightCapacity?.invalid"
                      style="color: orangered"
                    >
                      <cite *ngIf="weightCapacityMinValue != null && weightCapacityMaxValue != null"
                        >Giá trị tối thiểu là {{ weightCapacityMinValue }}, tối đa
                        {{ weightCapacityMaxValue }}</cite
                      >
                    </small>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="form-group">
                    <input
                      type="checkbox"
                      id="hasPassenger"
                      [(ngModel)]="carInsuranceOrder.hasPassenger"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="onCheckEnableSurchargeConfigChange($event)"
                    />
                    <label for="hasPassenger">
                      Bảo hiểm tai nạn lái, phụ xe và người ngồi trên xe</label
                    >
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>

              <div
                class="col-md-12"
                [hidden]="carInsuranceOrder.hasPassenger != true"
              >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="input4"
                      >Mức trách nhiệm
                      <span style="color: red">*</span>
                    </label>
                    <select2-ng2
                      [(ngModel)]="selectedSurchargeConfigId"
                      formControlName="selectedSurchargeConfigId"
                      (ngModelChange)="onChangeSurchargeConfigId(selectedSurchargeConfigId)"
                    >
                      <select
                        class="form-control"
                        data-placeholder="Số tiền bảo hiểm"
                        style="width: 100%"
                      >
                        <option
                          *ngFor="let p of surchargeConfigs"
                          [value]="p.id"
                        >
                          {{ p.name }}
                        </option>
                      </select>
                    </select2-ng2>
                    <div [hidden]="selectedSurchargeConfigId != 'SC_OTHER'">
                      <input
                        type="number"
                        class="form-control"
                        min="10000000"
                        step="10000000"
                        max="1540000000"
                        placeholder="Nhập mức trách nhiệm"
                        [(ngModel)]="carInsuranceOrder.insuranceAmount"
                        formControlName="insuranceAmount"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>

              <div class="col-md-12" [hidden]="carInsuranceOrder.hasPassenger != true">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="input4"
                        >Số chỗ lái, phụ xe
                        <span style="color: red">*</span>
                      </label>
                      <select2-ng2
                      [(ngModel)]="carInsuranceOrder.numberOfDriverAndAssistantDriver"
                      formControlName="numberOfDriverAndAssistantDriver"
                      (ngModelChange)="calculatorNumberOfPassenger()"
                    >
                      <select
                        class="form-control"
                        data-placeholder="Số chỗ lái, phụ xe"
                        style="width: 100%"
                      >
                        <option *ngFor="let p of numberOfDriverAndAssistantDriverList" [value]="p.id">
                          {{ p.name }}
                        </option>
                      </select>
                    </select2-ng2>
                    </div>
                  </div>
                </div>
                <div class="col-md-2"></div>
              </div>
              <div *ngIf="carInsuranceOrder.hasPassenger">
                <div class="col-md-12">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <input
                        type="checkbox"
                        name="enablePassenger"
                        id="enablePassenger"
                        [(ngModel)]="enablePassenger"
                        [ngModelOptions]="{ standalone: true }"
                      />
                      <label for="enablePassenger">
                        Bảo hiểm người ngồi trên xe</label
                      >
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>

                <div class="col-md-12" *ngIf="enablePassenger">
                  <div class="col-md-2"></div>
                  <div class="col-md-8">
                    <div class="row">
                      <div class="form-group col-md-12">
                        <input
                          readonly
                          type="number"
                          class="form-control"
                          id="input104"
                          placeholder="Số người tham gia"
                          [(ngModel)]="carInsuranceOrder.numberOfPassenger"
                          formControlName="numberOfPassenger"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </form>

          <hr style="margin: 4px" />

          <button
            *ngIf="!fromApp"
            type="button"
            (click)="goBack()"
            class="btn btn-main btn-back-default"
          >
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Quay lại
          </button>
          <button
            type="button"
            [disabled]="!carForm.valid"
            (click)="nextToPolicyTab()"
            class="btn btn-main btn-confirm pull-right"
          >
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tiếp tục
          </button>
        </div>
      </div>
    </div>

    <div [hidden]="currentStep != 2">
      <div class="row">
        <!--THÔNG TIN NGƯỜI MUA-->
        <h4 style="margin: 12px 0">THÔNG TIN NGƯỜI MUA</h4>
        <form [formGroup]="customerForm">
          <div class="col-md-6 col-xs-12">
            <div class="form-group" [class.has-error]="customerForm['controls'].name?.invalid && customerForm['controls'].name?.dirty">
              <label for="input1"
                >Họ và Tên
                <span style="color: red">*</span>
              </label>
              <input [(ngModel)]="carInsuranceOrder.name" formControlName="name" type="text" class="form-control" id="input1" placeholder="Họ và tên" />
              <span *ngIf="customerForm['controls'].name?.errors?.required && customerForm['controls'].name?.dirty" class="help-block">
                <small>
                  <cite>{{ requiredNotify }}</cite>
                </small>
              </span>
              <span *ngIf="customerForm['controls'].name?.errors?.nameInvalid && customerForm['controls'].name?.dirty" class="help-block">
                <small>
                  <cite>{{ nameInvalidNotify }}</cite>
                </small>
              </span>
            </div>
            <div class="form-group" [class.has-error]="customerForm['controls'].phoneNumber?.invalid && customerForm['controls'].phoneNumber?.dirty">
              <label for="input4"
                >Số điện thoại
                <span style="color: red">*</span>
              </label>
              <input [(ngModel)]="carInsuranceOrder.phoneNumber" formControlName="phoneNumber" type="text" class="form-control" id="input4" placeholder="Số điện thoại" />
              <span *ngIf="customerForm['controls'].phoneNumber?.errors?.required && customerForm['controls'].phoneNumber?.dirty" class="help-block">
                <small>
                  <cite>{{ requiredNotify }}</cite>
                </small>
              </span>
              <span *ngIf="customerForm['controls'].phoneNumber?.errors?.pattern && customerForm['controls'].phoneNumber?.dirty" class="help-block">
                <small>
                  <cite>{{ phoneInvalidNotify }}</cite>
                </small>
              </span>
            </div>
            <div class="form-group">
              <label for="input6">Email</label>
              <input [(ngModel)]="carInsuranceOrder.email" formControlName="email" type="text" class="form-control" id="input6" placeholder="Email" />
              <span *ngIf="customerForm['controls'].email?.errors?.pattern && customerForm['controls'].email?.dirty" class="help-block-alert">
                <small>
                  <cite>{{ emailInvalidNotify }}</cite>
                </small>
              </span>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group" formGroupName="fullAddress" [class.has-error]="customerForm['controls'].fullAddress.invalid || !isFullAddress()">
              <label for="input5" id="customerAddress"
                >Địa chỉ
                <span style="color: red">*</span>
              </label>
              <select2-ng2 [(ngModel)]="carInsuranceOrder.provinceId" formControlName="provinceOrCityId" (ngModelChange)="getDistricts(carInsuranceOrder.provinceId, 'customer')">
                <select class="form-control" data-placeholder="Tỉnh/Thành phố" style="width: 100%">
                  <option *ngFor="let p of provinces" [value]="p.id">
                    {{ p.name }}
                  </option>
                </select>
              </select2-ng2>
              <select2-ng2 [(ngModel)]="carInsuranceOrder.districtId" formControlName="districtId" (ngModelChange)="getWards(carInsuranceOrder.districtId, 'customer')">
                <select class="form-control" data-placeholder="Quận/Huyện" style="width: 100%">
                  <option *ngFor="let d of districts" [value]="d.id">
                    {{ d.name }}
                  </option>
                </select>
              </select2-ng2>
              <select2-ng2 [(ngModel)]="carInsuranceOrder.wardId" formControlName="wardId">
                <select class="form-control" data-placeholder="Xã/Phường/Thị trấn" style="width: 100%">
                  <option *ngFor="let w of wards" [value]="w.id">
                    {{ w.name }}
                  </option>
                </select>
              </select2-ng2>
              <input [(ngModel)]="carInsuranceOrder.addressDetail" formControlName="addressDetails" type="text" class="form-control" id="input99" placeholder="vd: 24c Phan Đăng Lưu" />
            </div>
          </div>
        </form>
      </div>
      <hr style="margin: 4px" />
      <div class="row">
        <h4 style="margin: 12px 0">THÔNG TIN ĐỐI TƯỢNG BẢO HIỂM</h4>
        <form [formGroup]="carInsuranceObjectForm">
          <div class="col-md-6 col-xs-12">
            <div class="form-group" [class.has-error]="carInsuranceObjectForm['controls'].ownerName?.invalid && carInsuranceObjectForm['controls'].ownerName?.dirty">
              <label for="input1"
                >Họ và tên chủ xe
                <span style="color: red">*</span>
              </label>
              <button type="button" class="btn btn-primary btn-xs" (click)="copyCustomerName()">Giống thông tin người mua</button>
              <input type="text" [(ngModel)]="carInsuranceOrder.carOwnerName" class="form-control" id="input1" placeholder="Họ và tên" formControlName="ownerName" />
              <span *ngIf="carInsuranceObjectForm['controls'].ownerName?.errors?.required && carInsuranceObjectForm['controls'].ownerName?.dirty" class="help-block">
                <small>
                  <cite>{{ requiredNotify }}</cite>
                </small>
              </span>
              <span *ngIf="carInsuranceObjectForm['controls'].ownerName?.errors?.nameInvalid && carInsuranceObjectForm['controls'].ownerName?.dirty" class="help-block">
                <small>
                  <cite>{{ nameInvalidNotify }}</cite>
                </small>
              </span>
            </div>
            <div class="form-group" [class.has-error]="carInsuranceObjectForm['controls'].phoneNumberObject?.invalid && carInsuranceObjectForm['controls'].phoneNumberObject?.dirty">
              <label for="input4"
                >Số điện thoại
                <span style="color: red">*</span>
              </label>
              <input type="text" [(ngModel)]="carInsuranceOrder.carOwnerPhoneNumber" formControlName="phoneNumberObject" class="form-control" id="input4" placeholder="Số điện thoại" />
              <span *ngIf="carInsuranceObjectForm['controls'].phoneNumberObject?.errors?.required && carInsuranceObjectForm['controls'].phoneNumberObject?.dirty" class="help-block">
                <small>
                  <cite>{{ requiredNotify }}</cite>
                </small>
              </span>
              <span *ngIf="carInsuranceObjectForm['controls'].phoneNumberObject?.errors?.pattern && carInsuranceObjectForm['controls'].phoneNumberObject?.dirty" class="help-block">
                <small>
                  <cite>{{ phoneInvalidNotify }}</cite>
                </small>
              </span>
            </div>
            <div class="form-group" [class.has-error]="carInsuranceObjectForm['controls'].emailObject?.invalid && carInsuranceObjectForm['controls'].emailObject?.dirty">
              <label for="input6">Email</label>
              <input [(ngModel)]="carInsuranceOrder.carOwnerEmail" formControlName="emailObject" type="text" class="form-control" id="input6" placeholder="Email" />
              <span *ngIf="carInsuranceObjectForm['controls'].emailObject?.errors?.pattern && carInsuranceObjectForm['controls'].emailObject?.dirty" class="help-block">
                <small>
                  <cite>{{ emailInvalidNotify }}</cite>
                </small>
              </span>
            </div>
            <div class="form-group">
              <label for="input4">Giấy đăng ký / đăng kiểm xe </label>
              <small style="font-style: italic">Chỉ chấp nhận các tập tin có đuôi *.jpg *.jpeg *.png với dung lượng tối đa là 5Mb.</small>
              <image-upload [extensions]="['jpg', 'jpeg', 'png']" [preview]="true" [uploadUrl]="uploadUrl"> </image-upload>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div>
              <div class="form-group">
                <label
                  >Biển kiểm soát <small> (viết liền)</small>
                  <span style="color: red">*</span>
                </label>
                <div
                  *ngIf="carInsuranceOrder.hasPlate"
                  [class.has-error]="carInsuranceObjectForm['controls'].registrationNumber?.invalid && carInsuranceObjectForm['controls'].registrationNumber?.dirty"
                  class="input-group"
                >
                  <div class="input-group-btn">
                    <button (click)="hasPlate(false)" type="button" class="btn btn-flat btn-main">Chưa có!</button>
                  </div>
                  <input
                    [(ngModel)]="carInsuranceOrder.registrationNumber"
                    [textMask]="{ mask: maskPlate, guide: false }"
                    formControlName="registrationNumber"
                    type="text"
                    class="form-control"
                    placeholder="Biển kiểm soát"
                  />
                </div>
                <span *ngIf="carInsuranceObjectForm['controls'].registrationNumber?.errors?.required && carInsuranceObjectForm['controls'].registrationNumber?.dirty" class="help-block-alert">
                  <small>
                    <cite>{{ requiredNotify }}</cite>
                  </small>
                </span>
                <span *ngIf="carInsuranceObjectForm['controls'].registrationNumber?.errors?.pattern && carInsuranceObjectForm['controls'].registrationNumber?.dirty" class="help-block-alert">
                  <small>
                    <cite>{{ plateNotify }}</cite>
                  </small>
                </span>
                <div
                  *ngIf="!carInsuranceOrder.hasPlate"
                  style="padding: 0"
                  [class.has-error]="
                    (carInsuranceObjectForm['controls'].engineNumber?.invalid && carInsuranceObjectForm['controls'].engineNumber?.dirty) ||
                    (carInsuranceObjectForm['controls'].chassisNumber?.invalid && carInsuranceObjectForm['controls'].chassisNumber?.dirty)
                  "
                >
                  <div class="input-group" style="width: 50%; float: left">
                    <div class="input-group-btn">
                      <button (click)="hasPlate(true)" type="button" class="btn btn-main btn-flat">
                        <i class="fa fa-close" aria-hidden="true"></i>
                      </button>
                    </div>
                    <input
                      [(ngModel)]="carInsuranceOrder.engineNumber"
                      formControlName="engineNumber"
                      [class.has-error]="carInsuranceObjectForm['controls'].engineNumber?.invalid && carInsuranceObjectForm['controls'].engineNumber?.dirty"
                      type="text"
                      class="form-control"
                      placeholder="Số máy"
                    />
                  </div>
                  <input
                    [(ngModel)]="carInsuranceOrder.chassisNumber"
                    formControlName="chassisNumber"
                    [class.has-error]="carInsuranceObjectForm['controls'].chassisNumber?.invalid && carInsuranceObjectForm['controls'].chassisNumber?.dirty"
                    type="text"
                    class="form-control"
                    placeholder="Số khung"
                    style="width: 50%"
                  />
                  <span *ngIf="carInsuranceObjectForm['controls'].engineNumber?.invalid && carInsuranceObjectForm['controls'].engineNumber?.dirty" class="help-block">
                    <small>
                      <cite>Số máy không được để trống và tối thiếu 2 ký tự</cite>
                    </small>
                  </span>
                  <span *ngIf="carInsuranceObjectForm['controls'].chassisNumber?.invalid && carInsuranceObjectForm['controls'].chassisNumber?.dirty" class="help-block">
                    <small>
                      <cite>Số khung không được để trống và tối thiếu 2 ký tự</cite>
                    </small>
                  </span>
                </div>
              </div>
              <div class="form-group" [class.has-error]="carForm.controls.yearOfProduction?.invalid">
                <label for="44"
                  >Năm sản xuất
                  <span style="color: red">*</span>
                </label>
                <input
                  [(ngModel)]="carInsuranceOrder.yearOfProduction"
                  formControlName="yearOfProduction"
                  [class.has-error]="carInsuranceObjectForm.controls.yearOfProduction?.invalid && carInsuranceObjectForm.controls.yearOfProduction?.dirty"
                  type="number"
                  class="form-control"
                  placeholder="Năm sản xuất"
                />
                <span *ngIf="carInsuranceObjectForm.controls.yearOfProduction?.errors?.required && carInsuranceObjectForm.controls.yearOfProduction?.dirty" class="help-block">
                  <small>
                    <cite>Không được để trống</cite>
                  </small>
                </span>
                <span
                  *ngIf="
                    (carInsuranceObjectForm.controls.yearOfProduction?.hasError('min') || carInsuranceObjectForm.controls.yearOfProduction?.hasError('max')) &&
                    carInsuranceObjectForm.controls.yearOfProduction?.dirty
                  "
                  class="help-block-alert"
                >
                  <small>
                    <cite>Năm sản xuất có độ dài 4 ký tự</cite>
                  </small>
                </span>
              </div>
              <div class="form-group" formGroupName="fullAddressCavet" [class.has-error]="carInsuranceObjectForm['controls'].fullAddressCavet.invalid || !isFullAddressCavet()">
                <label for="input5" id="customerAddressCatvet"
                  >Địa chỉ <small>(Theo giấy đăng ký xe/Cavet xe)</small><span style="color: red">*</span>
                  <!-- <span style="color: red">*</span> -->
                </label>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.carOwnerProvinceId" formControlName="provinceOrCityIdCavet" (ngModelChange)="getDistricts(carInsuranceOrder.carOwnerProvinceId, 'cavet')">
                  <select class="form-control" data-placeholder="Tỉnh/Thành phố" style="width: 100%">
                    <option *ngFor="let p of provincesCavet" [value]="p.id">
                      {{ p.name }}
                    </option>
                  </select>
                </select2-ng2>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.carOwnerDistrictId" formControlName="districtIdCavet" (ngModelChange)="getWards(carInsuranceOrder.carOwnerDistrictId, 'cavet')">
                  <select class="form-control" data-placeholder="Quận/Huyện" style="width: 100%">
                    <option *ngFor="let d of districtsCavet" [value]="d.id">
                      {{ d.name }}
                    </option>
                  </select>
                </select2-ng2>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.carOwnerWardId" formControlName="wardIdCavet">
                  <select class="form-control" data-placeholder="Xã/Phường/Thị trấn" style="width: 100%">
                    <option *ngFor="let w of wardsCavet" [value]="w.id">
                      {{ w.name }}
                    </option>
                  </select>
                </select2-ng2>
                <input [(ngModel)]="carInsuranceOrder.carOwnerAddressDetail" formControlName="addressDetailsCavet" type="text" class="form-control" id="input99" placeholder="vd: 24c Phan Đăng Lưu" />
              </div>
            </div>
          </div>
        </form>
      </div>

      <hr style="margin: 4px" />
      <div class="row">
        <h4 style="margin: 12px 0">THÔNG TIN XUẤT HOÁ ĐƠN</h4>
        <form [formGroup]="invoiceForm">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <label for="input1">Tên tổ chức/cá nhân</label>
              <input type="text" [(ngModel)]="carInsuranceOrder.invoiceCustomerName" class="form-control" id="input1" placeholder="Tên tổ chức/cá nhân" formControlName="invoiceCustomerName" />
            </div>
            <div class="form-group">
              <label for="input4"
                >Mã số thuế<i></i>
              </label>
              <input type="text" [(ngModel)]="carInsuranceOrder.invoiceTaxNo" formControlName="invoiceTaxNo" class="form-control" id="input4" placeholder="Mã số thuế" />
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div>
              <div class="form-group" formGroupName="fullAddressInvoice" [class.has-error]="!isFullAddressInvoice()">
                <label for="input5" id="invoiceAddress"
                  >Địa chỉ
                </label>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.invoiceProvinceId" formControlName="invoiceProvinceId" (ngModelChange)="getDistricts(carInsuranceOrder.invoiceProvinceId, 'invoice')">
                  <select class="form-control" data-placeholder="Tỉnh/Thành phố" style="width: 100%">
                    <option *ngFor="let p of provincesInvoice" [value]="p.id">
                      {{ p.name }}
                    </option>
                  </select>
                </select2-ng2>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.invoiceDistrictId" formControlName="invoiceDistrictId" (ngModelChange)="getWards(carInsuranceOrder.invoiceDistrictId, 'invoice')">
                  <select class="form-control" data-placeholder="Quận/Huyện" style="width: 100%">
                    <option *ngFor="let d of districtsInvoice" [value]="d.id">
                      {{ d.name }}
                    </option>
                  </select>
                </select2-ng2>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.invoiceWardId" formControlName="invoiceWardId">
                  <select class="form-control" data-placeholder="Xã/Phường/Thị trấn" style="width: 100%">
                    <option *ngFor="let w of wardsInvoice" [value]="w.id">
                      {{ w.name }}
                    </option>
                  </select>
                </select2-ng2>
                <input [(ngModel)]="carInsuranceOrder.invoiceAddressDetail" formControlName="invoiceAddressDetail" type="text" class="form-control" id="input99" placeholder="vd: 24c Phan Đăng Lưu" />
              </div>
            </div>
          </div>

        </form>
      </div>

      <div *ngIf="carInsuranceOrder.takingPaperCertification && receiverForm">
        <hr style="margin: 4px" />
        <div class="row">
          <h4 style="margin: 12px 0">THÔNG TIN GIAO NHẬN BẢO HIỂM</h4>
          <form [formGroup]="receiverForm">
            <div class="col-md-6 col-xs-12">
              <div class="form-group" [class.has-error]="receiverForm['controls'].nameReceiver?.invalid && receiverForm['controls'].nameReceiver?.dirty">
                <label for="input1"
                  >Họ và Tên
                  <span style="color: red">*</span>
                </label>
                <button type="button" class="btn btn-primary btn-xs" (click)="copyBuyerNameToReceiver()">Giống người mua</button>

                <button type="button" class="btn btn-success btn-xs" (click)="copyOwnerNameToReceiver()">Giống chủ xe</button>

                <input [(ngModel)]="carInsuranceOrder.receiverName" formControlName="nameReceiver" type="text" class="form-control" id="input132" placeholder="Họ và tên" />
                <span *ngIf="receiverForm['controls'].nameReceiver?.errors?.required && receiverForm['controls'].nameReceiver?.dirty" class="help-block">
                  <small>
                    <cite>Không được để trống</cite>
                  </small>
                </span>
                <span *ngIf="receiverForm['controls'].nameReceiver?.errors?.nameInvalid && receiverForm['controls'].nameReceiver?.dirty" class="help-block">
                  <small>
                    <cite>Tên phải tối thiểu 2 từ</cite>
                  </small>
                </span>
              </div>
              <div class="form-group" [class.has-error]="receiverForm['controls'].phoneNumberReceiver?.invalid && receiverForm['controls'].phoneNumberReceiver?.dirty">
                <label for="input422"
                  >Số điện thoại liên hệ
                  <span style="color: red">*</span>
                </label>
                <input [(ngModel)]="carInsuranceOrder.receiverPhone" formControlName="phoneNumberReceiver" type="text" class="form-control" id="input422" placeholder="Số điện thoại" />
                <span *ngIf="receiverForm['controls'].phoneNumberReceiver?.errors?.required && receiverForm['controls'].phoneNumberReceiver?.dirty" class="help-block">
                  <small>
                    <cite>Không được để trống</cite>
                  </small>
                </span>
                <span *ngIf="receiverForm['controls'].phoneNumberReceiver?.errors?.pattern && receiverForm['controls'].phoneNumberReceiver?.dirty" class="help-block">
                  <small>
                    <cite>Số điện thoại không đúng định dạng</cite>
                  </small>
                </span>
              </div>
              <div class="form-group">
                <label for="input6">Email</label>
                <input [(ngModel)]="carInsuranceOrder.receiverEmail" formControlName="emailReceiver" type="text" class="form-control" id="input622" placeholder="Email" />
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="form-group" formGroupName="fullAddressReceiver" [class.has-error]="receiverForm['controls'].fullAddressReceiver.invalid || !isFullAddressReceiver()">
                <label for="input5"
                  >Địa chỉ
                  <span style="color: red">*</span>
                  <!-- <span style="color: red">*</span> -->
                </label>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.receiverProvinceId" formControlName="provinceOrCityIdReceiver" (ngModelChange)="getDistricts(carInsuranceOrder.receiverProvinceId, 'receiver')">
                  <select class="form-control" data-placeholder="Tỉnh/Thành phố" style="width: 100%">
                    <option *ngFor="let p of provincesReceiver" [value]="p.id">
                      {{ p.name }}
                    </option>
                  </select>
                </select2-ng2>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.receiverDistrictId" formControlName="districtIdReceiver" (ngModelChange)="getWards(carInsuranceOrder.receiverDistrictId, 'receiver')">
                  <select class="form-control" data-placeholder="Quận/Huyện" style="width: 100%">
                    <option *ngFor="let d of districtsReceiver" [value]="d.id">
                      {{ d.name }}
                    </option>
                  </select>
                </select2-ng2>
                <select2-ng2 [(ngModel)]="carInsuranceOrder.receiverWardId" formControlName="wardIdReceiver">
                  <select class="form-control" data-placeholder="Xã/Phường/Thị trấn" style="width: 100%">
                    <option *ngFor="let w of wardsReceiver" [value]="w.id">
                      {{ w.name }}
                    </option>
                  </select>
                </select2-ng2>
                <input [(ngModel)]="carInsuranceOrder.receiverAddressDetail" formControlName="addressDetailsReceiver" type="text" class="form-control" id="input922" placeholder="vd: 24c Phan Đăng Lưu" />
              </div>
              <small> <span style="color: red">*</span>: Là thông tin bắt buộc. </small>
              <br />
              <small> **: Việc cung cấp email sẽ giúp chúng tôi hỗ trợ quý khách tốt hơn trong các trường hợp cần thông báo đầy đủ đến quý khách. </small>
            </div>
          </form>
        </div>
      </div>
      <hr style="margin: 4px" />

      <button *ngIf="!fromApp" type="button" (click)="goBackInStep()" class="btn btn-main btn-back-default">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Quay lại
      </button>
      <button type="button" (click)="nextToConfirm()" class="btn btn-main btn-confirm pull-right" [disabled]="!customerForm.valid || !carInsuranceObjectForm.valid">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tiếp tục
      </button>
      <!-- <button type="button" (click)="nextToConfirm()" class="btn btn-main btn-confirm pull-right">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tiếp tục
      </button> -->
    </div>

    <div [hidden]="currentStep != 3">
      <div class="row">
        <div class="col-md-6">
          <h4 style="margin: 12px 0">THÔNG TIN NGƯỜI MUA</h4>
          <hr class="hr-confirm-step" />
          <div class="row">
            <div class="col-md-4">Họ & Tên</div>
            <div class="col-md-8 word-break">
              <p>
                <strong>{{ carInsuranceOrder.name || "Họ và tên" }}</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Số điện thoại</div>
            <div class="col-md-8 word-break">
              <p>
                <strong>{{ carInsuranceOrder.phoneNumber || "Số điện thoại" }}</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Địa chỉ</div>
            <div class="col-md-8 word-break">
              <p>
                <strong>{{ carInsuranceOrder.fullAddress || "Địa chỉ chi tiết người mua" }}</strong>
              </p>
            </div>
          </div>
          <div class="row" *ngIf="carInsuranceOrder.email">
            <div class="col-md-4">Email</div>
            <div class="col-md-8 word-break">
              <p>
                <strong>{{ carInsuranceOrder.email || "Email người mua" }}</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 style="margin: 12px 0">THÔNG TIN CHỦ XE CƠ GIỚI</h4>
          <hr class="hr-confirm-step" />
          <div class="row">
            <div class="col-md-4">Họ & Tên</div>
            <div class="col-md-8 word-break">
              <p>
                <strong>{{ carInsuranceOrder.carOwnerName || "Họ và tên chủ xe" }}</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Số điện thoại</div>
            <div class="col-md-8 word-break">
              <p>
                <strong>{{ carInsuranceOrder.carOwnerphoneNumber || "Số điện thoại chủ xe" }}</strong>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Địa chỉ</div>
            <div class="col-md-8 word-break">
              <p>
                <strong>{{ carInsuranceOrder.carOwnerFullAddress || "Địa chỉ chủ xe" }}</strong>
              </p>
            </div>
          </div>
          <div *ngIf="carInsuranceOrder.carOwnerEmail">
            <div class="col-md-4">Email</div>
            <div class="col-md-8 word-break">
              <p>
                <strong>{{ carInsuranceOrder.carOwnerEmail || "Email chủ xe" }}</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h4 style="margin: 12px 0">THÔNG TIN XE CƠ GIỚI</h4>
          <hr class="hr-confirm-step" />
          <div class="row">
            <div class="col-md-4">Mục đích sử dụng</div>
            <div class="col-md-8">
              <strong *ngIf="carInsuranceOrder.usingPurposeType == 0">Kinh doanh</strong>
              <strong *ngIf="carInsuranceOrder.usingPurposeType == 1">Không kinh doanh</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Loại xe</div>
            <div class="col-md-8">
              <strong>{{ selectedUsingPurpose.name || 'Loại xe' }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Số chỗ ngồi</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.seatCapacity || '' }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Trọng tải xe</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.weightCapacity || '' }}</strong>
            </div>
          </div>
          <div class="row" *ngIf="carInsuranceOrder.hasPlate">
            <div class="col-md-4">Biển kiểm soát</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.registrationNumber || '' }}</strong>
            </div>
          </div>

          <div class="row" *ngIf="!carInsuranceOrder.hasPlate">
            <div class="col-md-4">Số khung</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.chassisNumber || '' }}</strong>
            </div>
          </div>
          <div class="row" *ngIf="!carInsuranceOrder.hasPlate">
            <div class="col-md-4">Số máy</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.engineNumber || '' }}</strong>
            </div>
          </div>
          <div class="row" *ngIf="carInsuranceOrder.yearOfProduction">
            <div class="col-md-4">Năm sản xuất</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.yearOfProduction }}</strong>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="carInsuranceOrder.takingPaperCertification">
          <h4 style="margin: 12px 0">THÔNG TIN GIAO NHẬN BẢO HIỂM</h4>
          <hr class="hr-confirm-step" />
          <div class="row">
            <div class="col-md-4">Họ & Tên</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.receiverName || 'Họ và tên người nhận' }}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Số điện thoại</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.receiverPhone || 'Số điện thoại giao nhận'}}</strong>
            </div>
          </div>
          <div  class="row" *ngIf="receiverInfo.email">
            <div class="col-md-4">Email</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.receiverEmail || 'Email người nhận'}}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">Địa chỉ</div>
            <div class="col-md-8">
              <strong>{{ carInsuranceOrder.receiverFullAddress || 'Địa chỉ giao nhận' }}</strong>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin: 4px" *ngIf="!fromApp" />
      <div class="row" *ngIf="!fromApp">
        <div class="col-md-12">
          <div class="form-group">
            <div style="border: 2px dashed rgb(0, 0, 0, 0.5); padding: 12px 12px 0 12px; background-color: #fff4f4; border-bottom: none">
              <input type="checkbox" [(ngModel)]="checkedPromise" name="optionsRadios" id="confirm" />
              <label for="confirm"> Tôi cam kết và đồng ý rằng:</label>
            </div>
            <div (click)="changeStatusPromise()" style="border: 2px dashed rgb(0, 0, 0, 0.5); padding: 12px; background-color: #fff4f4; border-top: none">
              <ul>
                Điều khoản quy định về mua sản phẩm bảo hiểm Qúy khách vui lòng xem
                <a routerLink="/article/terms-of-use" target="_blank">tại đây</a>
                <li>1. Tất cả các thông tin nêu trên là đầy đủ, xác thực và sẽ thông báo cho PTI khi có bất kỳ thông tin nào thay đổi.</li>
                <li>
                  2. Tôi đã đọc, hiểu và đồng ý với
                  <a routerLink="/article/policies" target="_blank">"Điều khoản sử dụng website"</a>
                  và quy tắc bảo hiểm đi kèm sản phẩm này của PTI.
                </li>
                <li>
                  3. Đơn bảo hiểm sẽ là cơ sở của hợp đồng giữa tôi và Bảo Hiểm PTI, tôi sẽ chấp nhận tất cả các điều kiện bảo hiểm quy định tại hợp đồng bảo hiểm và nộp phí bảo hiểm đúng theo quy
                  định.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr style="margin: 4px" />

      <button type="button" (click)="goBackInStep()" class="btn btn-main btn-back-default">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Quay lại
      </button>
      <button type="button" (click)="nextToPayment()" [disabled]="!checkAllowToCheckOut()" class="btn btn-main btn-confirm pull-right">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Tiếp tục
      </button>
    </div>
  </div>
</div>
