.news-container {
    background: white;
    padding: 60px 100px;
    margin-top:15px;
    margin-bottom:15px; 
}

.news-container p {
    margin-bottom: 20px;
    line-height: 2;
}

.news-container > h3 {
    margin-bottom: 20px;
    text-align: center;
}

.section_title {
    text-align: center;
    margin-top: 20px;
}

.section_container {
    padding: 30px 0;
}

.section_container .section_title p {
    font-size: 25px;
    color: #0d0f52;
    padding-bottom: 12px;
}

.news-container img {
    width: 50%;
    margin-bottom: 20px;
}

@media (max-width:768px){
    .news-container {
        padding: 20px 30px;
    }

    .news-container img {
        width: 100%;
    }
}