<div class="section_container">
    <div class="section_title"><h2></h2></div>
</div>

<div *ngIf="newsId == 'ins-news-1'" class="container news-container">
    <h3>Khách hàng tìm mua bảo hiểm cháy nổ tăng</h3>
    <p>
        Ngày 8-4, thông tin từ đại diện một số công ty bảo hiểm cho biết, số lượng khách hàng tìm hiểu thông tin, mức giá bảo hiểm cháy nổ nhà chung cư gia tăng đáng kể sau các vụ cháy nhà chung cư
        gần đây. Thêm nữa, quy định về việc mua bảo hiểm cháy nổ bắt buộc đối với nhà ở, các công trình, tài sản gắn liền với nhà có hiệu lực từ giữa tháng 4 này (Nghị định 23/2018/NĐ-CP) cũng khiến
        cho bảo hiểm cháy nổ được quan tâm “nóng”.
    </p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_Baohiemnhachungcu.jpg" /></div>
    <p>
        Tuy vậy, mức phí bảo hiểm của từng công ty rất khác nhau, trị giá các gói bảo hiểm cũng khác nhau nên người tiêu dùng dễ bị rối. Chẳng hạn, có doanh nghiệp áp phí căn cứ trên giá trị căn hộ,
        nhưng cũng có doanh nghiệp “cào bằng”, chỉ tính trên thời gian sử dụng căn hộ (căn hộ càng cũ thì mức phí càng cao). Ví dụ, tại công ty bảo hiểm B., mức phí bảo hiểm sẽ được tính khoảng 0,08%
        x với giá trị căn hộ, gồm cả phần tài sản và vật chất trong ngôi nhà. Nếu căn hộ có giá 1 tỷ đồng, mức phí đóng hàng năm khoảng 800.000 đồng, chưa bao gồm thuế giá trị gia tăng (VAT). Ngược
        lại, đối với một công ty bảo hiểm khác, thuộc ngân hàng B., mức phí được tính trọn gói đã bao gồm thuế VAT và “cào bằng” đối với các căn hộ, không phân biệt diện tích, giá trị căn hộ…. Mức phí
        thấp nhất từ 100.000 – 360.000 đồng/năm. Thế nhưng, công ty này lại tách riêng phí bảo hiểm gồm phần vật chất và tài sản trong ngôi nhà, không gộp chung như công ty bảo hiểm B. nêu trên. Hạn
        mức bồi thường dao động từ 300 triệu đồng – 5 tỷ đồng đối với phần vật chất ngôi nhà và từ 100 triệu đồng – 1 tỷ đồng cho tài sản ngôi nhà.
    </p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_Baohiemnhachungcu-2.jpg" /></div>
    <p>
        Ghi nhanh từ một số công ty bảo hiểm, số lượng khách hàng quan tâm “nóng” đến các gói bảo hiểm cháy nổ chung cư gia tăng đáng kể, nhưng phần lớn mang tính chất nghe ngóng, đối chiếu phí bảo
        hiểm là chính. Ở góc độ người mua, một số người dân phản ánh, mức phí bảo hiểm không quá cao, phù hợp túi tiền khách hàng nên họ sẵn sàng mua để yên tâm, phòng ngừa rủi ro. Song song đó, các
        công ty cũng đang khuyến mãi các gói bảo hiểm mở rộng ngoài cháy nổ, như bị trộm cướp, vỡ hoặc tràn ống nước, thuê nhà sau tổn thất… với mức đóng gộp chỉ tăng thêm khoảng 100.000 đồng/gói, tùy
        công ty, nên khách hàng yên tâm mua.
    </p>
    <p>
        Hiện nay, Bảo hiểm PTI là nhà bảo hiểm tài sản số 1 Việt Nam với đội ngũ tư vấn viên chuyên nghiệp, nhiệt tình và tận tụy; chương trình bảo hiểm phong phú, đa dạng phù hợp với nhiều đối tượng
        khách hàng; giải quyết bồi thường minh bạch, nhanh chóng và chính xác.
    </p>
    <p>
        Với mạng lưới rộng khắp, được trải dài trên 63 tỉnh thành với hơn 10.800 điểm giao dịch, khách hàng có thể tham gia bảo hiểm nhanh chóng, dễ dàng thu thập được các thông tin cần thiết, nhanh
        chóng được tư vấn, hướng dẫn chuẩn bị hồ sơ bồi thường …
    </p>
    <p>
        Từ ngày 12/04/2018 đến 30/06/2018 Tổng Công ty Bảo hiểm Bưu Điện (PTI) triển khai chương trình khuyến mãi “Mua bảo hiểm nhà – an tâm trước rủi ro ” dành cho các khách hàng mua bảo hiểm toàn
        diện nhà chung cư tại Thành phố Hà Nội và Tp. HCM.
    </p>
    <p>
        Sản phẩm bảo hiểm toàn diện nhà chung cư của PTI là sản phẩm tích hợp từ 03 chương trình bảo hiểm, gồm: Bảo hiểm cho ngôi nhà chung cư và Bảo hiểm cho tài sản bên trong ngôi nhà, bảo hiểm
        trách nhiệm công cộng. Tham gia bảo hiểm toàn diện nhà chung cư, khách hàng sẽ được PTI bồi thường các thiệt hại cho phần ngôi nhà và cáctài sản bên trong trong những trường hợp cháy, nổ, sét
        đánh.
    </p>
</div>

<div *ngIf="newsId == 'ins-news-2'" class="container news-container">
    <h3>Bảo hiểm Bưu điện PTI đồng hành cùng V League 2018</h3>
    <p>
        Với mong muốn đảm bảo an toàn cho các cầu thủ trong quá trình thi đấu, Tổng công ty Cổ phần Bảo hiểm Bưu điện (PTI) tự hào góp phần mang tới sự an tâm cho các cầu thủ, góp phần phát triển cho
        nền bóng đá Việt Nam.
    </p>
    <p>
        Từ nhiều năm nay, bóng đá luôn là môn thể thao được PTI dành nhiều quan tâm. Chính vì vậy, PTI đã quyết định đồng hành cùng các cầu thủ, trọng tài, trợ lý trọng tài, giám sát viên tại các giải
        Giải bóng đá vô địch Quốc gia Việt Nam - V.League 1, Giải hạng nhất Quốc gia - V.League 2 và Cúp Quốc gia trong hai năm 2018 – 2019.
    </p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_vleague_1.jpg" /></div>
    <p>
        Chấn thương luôn được xem là một “ác mộng” đối với các cầu thủ bóng đá. Chấn thương không chỉ cướp đi cơ hội ra sân mà còn ảnh hưởng rất lớn tới sự nghiệp cầu thủ vốn đã rất ngắn ngủi. Đã có
        không ít những trường hợp cầu thủ phải giã từ sự nghiệp sớm sau những tình huống va chạm chấn thương trong trận đấu như Anh Khoa hay Lê Văn Vũ…Đối với những cầu thủ trẻ, nếu không may mắc phải
        những chấn thương nghiêm trọng, ngoài phải chịu sự thiệt thòi khi không thể phát triển 100% sự nghiệp thì kinh phí để điều trị cũng là một vấn đề rất nan giải.
    </p>
    <p>
        Nắm bắt được những khó khăn của các cầu thủ, PTI đã cùng VPF đồng hành giúp các cầu thủ yên tâm phát triển sự nghiệp. Theo đó, 800 người tham gia vào 3 giải đấu lớn của mùa giải 2018 – 2019,
        trong đó có 720 cầu thủ sẽ được Bảo hiểm Bưu điện bảo hiểm trong suốt quá trình diễn ra các giải đấu.
    </p>
    <p>
        Cụ thể, Bảo hiểm Bưu điện sẽ bồi thường cho các chi phí y tế phát sinh do chữa trị tai nạn xảy ra trong thời gian tập luyện và thi đấu tại các giải đấu: Giải bóng đá vô địch Quốc gia Việt Nam
        - V.League 1, Giải hạng nhất Quốc gia - V.League 2 và Cúp Quốc gia. Đối với các cầu thủ, chi phí y tế điều trị tai nạn trong thời hạn bảo hiểm lên tới 300 triệu, còn đối với trọng tài, giám
        sát viên mức chi trả là 200 triệu. Chi phí y tế phát sinh để điều trị chấn thương theo chỉ định của bác sĩ bao gồm cả chi phí vận chuyển khẩn cấp. Trường hợp thương tật toàn bộ vĩnh viễn là
        300 triệu.
    </p>
    <p>
        Bảo hiểm Bưu điện kỳ vọng sẽ gói bảo hiểm này sẽ giúp những cầu thủ yên tâm thi đấu. Nếu không may gặp phải chấn thương trong tập luyện, thi đấu có thể sớm bình phục, quay trở lại sân cỏ, đóng
        góp tài năng của mình vào sự nghiệp phát triển của bóng đá Việt Nam.
    </p>
    <p>
        Tổng công ty Cổ phần Bảo hiểm – PTI là một trong 4 đơn vị dẫn đầu thị trường bảo hiểm phi nhân thọ tại Việt Nam. Trước đó, PTI cũng vừa trao tặng gói bảo hiểm tai nạn cao cấp cho các cầu thủ
        và ban huấn luyện của đội tuyển U23 Việt Nam, với quyền lợi tối đa lên tới 2,3 tỷ đồng.
    </p>
</div>

<div *ngIf="newsId == 'ins-news-3'" class="container news-container">
    <h3>22.000 người dân được tặng miễn phí bảo hiểm</h3>
    <p>
        Nhằm mục đích hỗ trợ người dân nâng cao chất lượng cuộc sống, từ ngày 10/01/2018 - 31/01/2018, Tổng công ty CP Bảo hiểm Bưu điện (PTI) và Quỹ Văn hoá Kim Jun Ki sẽ tặng miễn phí bảo hiểm tai
        nạn hộ gia đình, bảo hiểm xe máy cho 4.500 hộ gia đình thuộc 2 xã Khánh An và Khánh Thiện (huyện Yên Khánh, Ninh Bình). Tổng giá trị bảo hiểm dành cho chương trình này trị giá 1,3 tỷ đồng.
    </p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_tang_mien_phi.jpg" /></div>
    <p>
        Đây là lần đầu tiên tại Việt Nam có hình thức tài trợ bảo hiểm cho người dân mà PTI là đơn vị bảo hiểm tiên phong thực hiện chương trình nhân văn này. Chương trình được thực hiện với mong muốn
        cung cấp sự đảm bảo về tài chính để người dân yên tâm lao động cũng như vượt qua giai đoạn khó khăn trong cuộc sống.
    </p>
    <p>
        Cụ thể, mỗi hộ gia đình sẽ được tặng miễn phí 1 Bảo hiểm tai nạn hộ gia đình và 1 Bảo hiểm xe máy (gồm Bảo hiểm trách nhiệm dân sự (TNDS) và tai nạn người ngồi trên xe). Với sản phẩm bảo hiểm
        tại nạn hộ gia đình, PTI sẽ cấp theo danh sách các hộ gia đình cho UBND xã cung cấp. Bất kỳ người dân nào có hộ khẩu tại 2 xã trên nếu không may bị tai nạn sẽ được chi trả bảo hiểm. Số tiền
        bảo hiểm: Tai nạn: 20 triệu đồng/người/vụ + tử vong: 20 triệu đồng/người/vụ; Phí bảo hiểm: 200.000 đồng/hộ.
    </p>
    <p>
        Với sản phẩm Bảo hiểm TNDS xe máy: PTI sẽ cử cán bộ đến ghi bảo hiểm cho người dân tại nhà văn hóa các thôn trong thời gian 5 ngày. Mức trách nhiệm: 100 triệu đồng đối với thiệt hại về người
        và 70 triệu đồng đối với thiệt hại về tài sản.
    </p>
    <p>
        Phát biểu tại buổi trao tặng sáng 15/1, ông Bùi Xuân Thu, Tổng Giám đốc PTI chia sẻ, “Với chương trình quà tặng này, hơn 22.000 người dân tại 2 xã Khánh An, Khánh Thiện sẽ nhận được sự hỗ trợ
        của PTI một cách thiết thực”.
    </p>
    <p>
        Một trong những người dân được nhận bảo hiểm từ PTI, bà Đinh Thị Hương (thôn Phú Trung, Khánh An, huyện Yên Khánh, Ninh Bình) chia sẻ, “Là người nông dân chân lấm tay bùn, cuộc sống còn nhiều
        khó khăn, món quà Bảohiểm tai nạn hộ gia đình và Bảo hiểm TNDS xe máy do PTI trao tặng sẽ hết sức ý nghĩa đối với gia đình tôi. Món quà này sẽ giúp gia đình tôi có chỗ dựa về vật chất, tinh
        thần trong cuộc sống nếu chẳng may rủi ro xảy ra trong cuộc sống sau này. Qua đây, người dân chúng tôi cũng đã được hiểu biết thêm về những lợi ích do bảo hiểm mang lại”.
    </p>
    <p>Một số hình ảnh liên quan đến chương trình</p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_tang_mien_phi_1.jpg" /></div>
    <div style="text-align:center"><img alt="" src="/assets/images/news_tang_mien_phi_2.jpg" /></div>
    <div style="text-align:center"><img alt="" src="/assets/images/news_tang_mien_phi_3.jpg" /></div>
</div>

<div *ngIf="newsId == 'ins-news-4'" class="container news-container">
    <h3>BẢO HIỂM BƯU ĐIỆN (PTI) TẠM ỨNG BỒI THƯỜNG CHO NẠN NHÂN VỤ TAI NẠN TÀU HỎA</h3>
    <p>Sáng ngày 24.05.2018 Tổng Công ty CP Bảo hiểm Bưu Điện (PTI) đã tạm ứng bồi thường cho các gia đình nạn nhân trong vụ tai nạn tàu khách bị lật sau khi tông vào xe Ben tại Thanh Hoá.</p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_tai_nan_tau.jpg" /></div>
    <p>
        Theo đó, trực tiếp lãnh đạo PTI - bà Lưu Phương Lan – Phó Tổng Giám Đốc PTI đã đến thăm hỏi động viên và chi trả tạm ứng bồi thường 15 triệu đồng cho gia đình hai hành khách bị thương, đang
        được cấp cứu tại bệnh viện Việt Đức. Đối với các hành khách bị thương đang được chữa trị tại bệnh viện thành phố Vinh – Nghệ An và bệnh viện Tĩnh Gia – Thanh Hóa, PTI đã cử cán bộ đến thăm hỏi
        và tạm ứng bồi thường nhằm kịp thời hỗ trợ các hành khách có điều kiện chữa trị tốt nhất.
    </p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_tai_nan_tau_1.jpg" /></div>
    <p>
        Bà Lưu Phương Lan – Phó TGĐ PTI cho biết: Chúng tôi xin chia sẻ với những thiệt hại mà gia đình các nạn nhân đang phải gánh chịu. Ngay trong sáng nay,PTI đã cử đơn vị tại điểm có nạn nhân đang
        chữa trị lập tức đến thăm hỏi và tạm ứng bồi thường cho tất cả hành khách. Chúng tôi sẽ tiếp tục phối hợp với các bên liên quan để hỗ trợ tối đa cho khách hàng.
    </p>
    <p>
        Bất ngờ trước sự hỗ trợ nhanh chóng và kịp thời của PTI, đại diện gia đình nạn nhân đang điều trị tại Việt Đức chia sẻ: Tôi rất xúc động khi mà trực tiếp lãnh đạo PTI đã nhanh chóng đến thăm
        hỏi, động viên gia đình tôi. Số tiền tạm ứng bồi thường rất hữu ích cho chúng tôi lúc này. Xin cảm ơn PTI và đại diện của bên đường sắt.
    </p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_tai_nan_tau_2.jpg" /></div>
    <p>
        Được biết, PTI đang là đơn vị cung cấp gói bảo hiểm cho tất cả các đầu máy thuộc Tổng công ty đường sắt Việt Nam, đồng thời cũng là đơn vị bảo hiểm cho toàn bộ hành khách đi tàu với số tiền
        bảo hiểm 70 triệu đồng/hành khách. Hiện PTI cũng đang nhanh chóng phối hợp với chủ tàu và các cơ quan chức năng để khắc phục sự cố đồng thời cùng khách hàng hoàn thiện hồ sơ để chi trả bồi
        thường cho các thiệt hại theo đúng quy định của pháp luật.
    </p>
    <div style="text-align:center"><img alt="" src="/assets/images/news_tai_nan_tau_3.jpg" /></div>
    <p>
        Trước đó, 00h30 ngày 24.5, tàu khách mang số hiệu SE19 do đầu máy 927 kéo, khi đến đường ngang có gác Km 234+050, khu gian Khoa Trường - Trường Lâm,tuyến đường sắt Hà Nội - TP. Hồ Chí Minh
        (thuộc xã Trường Lâm, huyện Tĩnh Gia, tỉnh Thanh Hóa) đã va một xe ôtô Ben đi qua đường sắt. Cú đâm khiến đầu tàu và 6 toa khác bị lật, trong đó có 4 toa chở hành khách. Tại hiện trường, xe
        Ben bị hất văng khỏi đường ray cách đường ngang hơn 10 m, đầu máy và 7 toa tàu văng khỏi đường ray. Hai lái tàu SE19 bị mắc kẹt trong khoang tàu và tử vong, hơn 10 người hành khách bị thương.
    </p>
</div>

<div *ngIf="newsId == 'ins-news-5'" class="container news-container">
    <h3>Giảm 50% (tối đa 100.000VND) cho khách hàng mua bảo hiểm PTI và thanh toán qua AirPay</h3>
    <div style="text-align:center"><img alt="" src="/assets/images/APA_PTI.png" /></div>
    <h4>Điều kiện</h4>
    <p>Từ ngày 01/11 đến hết ngày 30/11/2018, khách hàng thanh toán Bảo hiểm Bưu điện Sài Gòn - PTI qua ứng dụng Ví điện tử AirPay sẽ được giảm giá trực tiếp 50% (giảm tối đa 100.000VND).</p>
    <ul>
        Lưu ý:
        <li>- Chỉ áp dụng cho tài khoản đã thực hiện liên kết ngân hàng.</li>
        <li>- Mỗi khách hàng nhận 01 lần khuyến mãi trong suốt thời gian chương trình diễn ra.</li>
        <li>- Số lượng giảm giá có giới hạn.</li>
        <li>- Không áp dụng giảm giá cho Bảo hiểm Trách nhiệm Dân sự Xe máy.</li>
        <li>- KHÔNG áp dụng đồng thời với các chương trình khuyến mãi khác (Chương trình khuyến mãi nhận voucher Shopee cho khách hàng mới).</li>
    </ul>
    <h4>Nội dung</h4>
    <ul>
        Từ ngày 01/11 đến hết ngày 30/11/2018, khách hàng thanh toán Bảo hiểm Bưu điện Sài Gòn - PTI qua ứng dụng AirPay sẽ được:
        <li>- Giảm giá 50% trên tổng giá trị thanh toán.</li>
        <li>- Giảm tối đa 100.000VND.</li>
        <li>- Mỗi khách hàng nhận 01 lần khuyến mãi trong suốt thời gian chương trình diễn ra.</li>
    </ul>
    <ul>
        Lưu ý:
        <li>- Chỉ áp dụng cho tài khoản đã thực hiện liên kết ngân hàng.</li>
        <li>- Số lượng giảm giá có giới hạn.</li>
        <li>- Không áp dụng giảm giá cho Bảo hiểm Trách nhiệm Dân sự Xe máy.</li>
    </ul>
    <h4>Thời gian</h4>
    <p>Từ ngày 01/11 đến hết ngày 30/11/2018</p>
    <h4>Hướng dẫn</h4>
    <h5>Hướng dẫn mua bảo hiểm PTI và thanh toán qua AirPay:</h5>
    <ul>
        <li>- Bước 1: Mở ứng dụng, Chọn PTI trên màn hình</li>
        <li>- Bước 2: Chọn loại bảo hiểm muốn mua</li>
        <li>- Bước 3: Chọn “Mua ngay”</li>
        <li>- Bước 4: Điền “Thông tin Hợp đồng”</li>
    </ul>
    <div style="text-align:center"><img alt="" src="/assets/images/step_hd_pti_1.png" /></div>
    <ul>
        <li>- Bước 5-6: Thực hiện Xác nhận thông tin Hợp đồng</li>
        <li>- Bước 7: Xác nhận thanh toán qua Ví điện tử AirPay</li>
        <li>- Bước 8: Xác nhận thanh toán</li>
    </ul>
    <div style="text-align:center"><img alt="" src="/assets/images/step_hd_pti_2.png" /></div>
    <h4>Điều khoản</h4>
    <h5>Các lưu ý khi tham gia chương trình:</h5>
    <ul>
        <li>- Chỉ áp dụng cho tài khoản đã thực hiện liên kết ngân hàng.</li>
        <li>- Mỗi Khách hàng chỉ được khuyến mại 01 lần duy nhất trong suốt thời gian diễn ra khuyến mại.</li>
        <li>- Không áp dụng cho Bảo hiểm Trách nhiệm Dân sự Xe máy.</li>
        <li>- KHÔNG áp dụng đồng thời với các chương trình khuyến mãi khác (Chương trình khuyến mãi nhận voucher Shopee cho khách hàng mới).</li>
        <li>- Các hành động cố tình thanh toán nhiều giao dịch để nhận khuyến mại, bao gồm nhưng không giới hạn việc sử dụng nhiều số điện thoại, nhiều thiết bị, v.v đều bị xem là vi phạm thể lệ.</li>
    </ul>
    <h5>Điều khoản chung:</h5>
    <ul>
        <li>- Chương trình sẽ kết thúc khi hết ngân sách khuyến mại hoặc vào hạn cuối của chương trình, tùy vào sự kiện nào đến trước nhất.</li>
        <li>
            - Công ty Cổ phần phát triển Thể thao điện tử Việt Nam (sau đây gọi tắt là Công ty) có quyền từ chối trao thưởng một phần hoặc toàn bộ, thu hồi giải thưởng trong trường hợp nghi ngờ hoặc
            phát hiện các trường hợp bao gồm nhưng không giới hạn việc người dùng có gian lận để trục lợi, vi phạm thể lệ, lỗi hệ thống, lỗi người dùng, v.v.
        </li>
        <li>
            - Các khiếu nại liên quan đến chương trình phải được gửi tới Công ty Cổ phần phát triển Thể thao điện tử Việt Nam trong vòng 60 ngày kể từ khi phát sinh lỗi. Sau thời hạn này, Công ty
            không tiếp nhận các khiếu nại.
        </li>
        <li>- Điều khoản chung của chương trình khuyến mại này là 01 phần thống nhất với Điều khoản sử dụng ví AirPay.</li>
    </ul>
</div>
