<section class="sub_banner sub_product_vehicle_insurance">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>BẢO HIỂM TNDS XE MÁY</h2>
                <p>Bảo hiểm Trách nhiệm dân sự bắt buộc & Tai nạn người ngồi trên xe</p>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_introduction_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Giới thiệu sản phẩm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>BẢO HIỂM TNDS XE MÁY là bảo hiểm bắt buộc theo quy định của nhà nước đồng thời giúp
                            bạn có đủ tài chính để bồi thường cho người khác khi không may bạn gây ra tai nạn cho người đó.
                            Nếu không tham gia, bạn sẽ bị xử phạt theo quy định của pháp luật khi tham gia giao thông.</p>
                        <p>Bảo hiểm tai nạn người ngồi trên xe là bảo hiểm cho những thiệt hại về tính mạng, thương tật thân
                            thể của người ngồi trên xe máy do tai nạn khi tham gia giao thông.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_highlight">
                        <ul>
                            <!-- <li>
                                <p>Số tiền bảo hiểm</p>
                                <p>
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.insuranceAmount | numberConverter}} VNĐ</strong>
                                    /năm</p>
                                <p>{{optionPackages?.insurancePackageDetails[0]?.insurancePackageDescription}}</p>
                            </li> -->
                            <li>
                                <p>Phí bảo hiểm</p>
                                <p>
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.insuranceCost | numberConverter}} VNĐ/năm</strong>
                                    </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section bg_white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/moto1.jpg" alt="" class="img_responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Đối tượng mua bảo hiểm</h2>
                    </div>
                    <div class="product_details_description">
                        <ul>
                            <li>Chủ xe máy, chủ xe mô tô; hoặc</li>
                            <li>Người đang trực tiếp quản lý xe máy, xe mô tô (xe mượn, xe của gia đình...).</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Phạm vi & Quyền lợi bảo hiểm</h2>
                    </div>
                    <div class="product_details_description">
                        <ul>
                            <li>
                                <strong>Phạm vi Bảo hiểm:</strong>
                                <ul>
                                    <li>Trách nhiệm của bạn đối với các Thiệt hại về thân thể, tính mạng và tài sản của người
                                        khác (bên thứ ba) do xe máy của bạn gây ra.</li>
                                    <li>Thiệt hại về tính mạng và thương tật thân thể của người lái xe và người ngồi trên xe
                                        do tai nạn gây ra khi sử dụng xe.</li>
                                </ul>
                            </li>
                            <li>
                                <strong>Quyền lợi Bảo hiểm:</strong>
                                <ul>
                                    <li>Chi trả cho bên thứ 3 như sau:
                                        <ul>
                                            <li>150.000.000 đồng/1 người/1 vụ tai nạn
                                                <b>đối với thiệt hại về người</b>.</li>
                                            <li>50.000.000 đồng/1 vụ tai nạn
                                                <b>đối với thiệt hại về tài sản</b>.</li>
                                        </ul>
                                    </li>
                                    <li>Chi trả cho người ngồi trên xe:
                                        <ul>
                                            <li>10.000.000 đồng/1 người đối với trường hợp Tử vong do tai nạn;</li>
                                            <li>Chi trả theo Bảng tỷ lệ thương tật đối với các Thương tật thân thể (thương tật
                                                bộ phận vĩnh viễn, thương tật tạm thời) do tai nạn.</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/moto2.jpg" alt="" class="img_responsive">
            </div>
        </div>
    </div>
</section>
<section class="product_details_section bg_white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/product_introduction_03.png" alt="" class="img_responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Làm gì khi xảy ra tai nạn?</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Gọi ngay đến số
                            <strong>19006727</strong>
                            <!-- hoặc
                            <strong>0898078696</strong>  -->
                            để được hỗ trợ và hướng dẫn</p>
                        <!-- <p>Thông báo ngay cho
                            <strong>CƠ QUAN CÔNG AN</strong> hoặc
                            <strong>CHÍNH QUYỀN ĐỊA PHƯƠNG</strong> trong trường hợp tai nạn nghiêm trọng (tử vong…)</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section buy_now">
    <div class="container">
        <div class="row">
            <button type="button" (click)="buyNow()" class="btn btn-lg btn-warning center-block">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua ngay</button>
        </div>
    </div>
</section>