<h4 style="margin: 12px 0;">{{title}}</h4>
<form [formGroup]="customerForm">
  <div class="form-group col-md-6 col-xs-12" [class.has-error]="customerForm['controls'].name?.invalid && customerForm['controls'].name?.dirty">
    <label for="input1">Họ và Tên
      <span style="color: red">*</span>
    </label>
    <input [(ngModel)]="customerInfo.name" formControlName="name" type="text" class="form-control" id="input1" placeholder="Họ và tên">
    <span *ngIf="customerForm['controls'].name?.errors?.required && customerForm['controls'].name?.dirty" class="help-block">
      <small>
        <cite>Không được để trống</cite>
      </small>
    </span>
  </div>
  <div class="form-group col-md-6 col-xs-12" [class.has-error]="customerForm['controls'].phoneNumber?.invalid && customerForm['controls'].phoneNumber?.dirty">
    <label for="input4">Số điện thoại liên hệ
      <span style="color: red">*</span>
    </label>
    <input [(ngModel)]="customerInfo.phoneNumber" formControlName="phoneNumber" type="text" class="form-control" id="input4"
      placeholder="Số điện thoại">
    <span *ngIf="customerForm['controls'].phoneNumber?.errors?.required && customerForm['controls'].phoneNumber?.dirty" class="help-block">
      <small>
        <cite>Không được để trống</cite>
      </small>
    </span>
    <span *ngIf="customerForm['controls'].phoneNumber?.errors?.pattern && customerForm['controls'].phoneNumber?.dirty" class="help-block">
      <small>
        <cite>Số điện thoại không đúng định dạng</cite>
      </small>
    </span>
  </div>
  <div class="form-group col-md-6 col-xs-12" formGroupName="fullAddress" [class.has-error]="customerForm['controls'].fullAddress.invalid && (customerForm['controls'].fullAddress['controls'].provinceOrCityId.dirty || customerForm['controls'].fullAddress['controls'].districtId.dirty || customerForm['controls'].fullAddress['controls'].wardId.dirty || customerForm['controls'].fullAddress['controls'].addressDetails.dirty)">
    <label for="input5" id="customerAddress">Địa chỉ
      <span style="color: red">*</span>
    </label>
    <select2-ng2 [(ngModel)]="customerInfo.provinceOrCityId" formControlName="provinceOrCityId" (ngModelChange)="provinceSelected()">
      <select class="form-control" [disabled]="disabled" data-placeholder="Tỉnh/Thành phố" style="width: 100%">
        <option value=""></option>
        <option *ngFor="let p of provinces" [value]="p.id">{{p.name}}</option>
      </select>
    </select2-ng2>
    <select2-ng2 [(ngModel)]="customerInfo.districtId" formControlName="districtId" (ngModelChange)="districtSelected()">
      <select class="form-control" [disabled]="disabled" data-placeholder="Quận/Huyện" style="width: 100%">
        <option value=""></option>
        <option *ngFor="let d of districts" [value]="d.id">{{d.name}}</option>
      </select>
    </select2-ng2>
    <select2-ng2 [(ngModel)]="customerInfo.wardId" formControlName="wardId" (ngModelChange)="wardSelected()">
      <select class="form-control" [disabled]="disabled" data-placeholder="Xã/Phường/Thị trấn" style="width: 100%">
        <option value=""></option>
        <option *ngFor="let w of wards" [value]="w.id">{{w.name}}</option>
      </select>
    </select2-ng2>
    <input [(ngModel)]="customerInfo.addressDetails" (ngModelChange)="changeAddressDetail()" formControlName="addressDetails"
      type="text" class="form-control" id="input99" placeholder="vd: 24c Phan Đăng Lưu">
  </div>
  <!-- <div *ngIf="!isTNDS">
    <div class="form-group col-md-6 col-xs-12" [class.has-error]="customerForm['controls'].idNumber?.invalid && customerForm['controls'].idNumber?.dirty">
      <label for="input3">CMND</label>
      <input [(ngModel)]="customerInfo.idNumber" formControlName="idNumber" type="text" class="form-control" id="input3" placeholder="CMND">
      <span *ngIf="customerForm['controls'].idNumber?.errors?.required && customerForm['controls'].idNumber?.dirty" class="help-block">
        <small>
          <cite>Không được để trống</cite>
        </small>
      </span>
      <span *ngIf="customerForm['controls'].idNumber?.errors?.pattern && customerForm['controls'].idNumber?.dirty" class="help-block">
        <small>
          <cite>CMND không đúng định dạng</cite>
        </small>
      </span>
    </div>
  </div> -->
  <div class="form-group col-md-6 col-xs-12" [class.has-error]="customerForm['controls'].email?.invalid && customerForm['controls'].email?.dirty">
    <label for="input6">Email</label>
    <input [(ngModel)]="customerInfo.email" formControlName="email" type="text" class="form-control" id="input6" placeholder="Email">
    <span *ngIf="customerForm['controls'].email?.errors?.required && customerForm['controls'].email?.dirty" class="help-block">
      <small>
        <cite>Không được để trống</cite>
      </small>
    </span>
    <span *ngIf="customerForm['controls'].email?.errors?.pattern && customerForm['controls'].email?.dirty" class="help-block">
      <small>
        <cite>Email không đúng định dạng</cite>
      </small>
    </span>
    <small>
      <span style="color: red">*</span>: Là thông tin bắt buộc.
    </small>
    <br>
    <small>
      **: Việc cung cấp email sẽ giúp chúng tôi hỗ trợ quý khách tốt hơn trong các trường hợp cần thông báo đầy đủ đến quý khách.
    </small>
  </div>
</form>
