<section class="sub_banner sub_product_mobile_insurance">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{productName}}</h2>
                <p>Bảo Hiểm Thiết Bị Di Động</p>
            </div>
        </div>
    </div> -->
</section>
<section class="product_details_section product_introduction_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Giới thiệu sản phẩm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Sở hữu một thiết bị điện tử ưng ý, đặc biệt nếu đó lại là một “chú dế” thông minh hay một cái laptop đỉnh luôn là niềm hạnh phúc vô bờ đối với mỗi chúng ta trong thời đại 4.0 này.</p>
                        <p>Vậy làm thế nào để bảo vệ “dế yêu” hay “chiếc laptop đỉnh” của bạn trước những sự cố không may như rơi, vỡ, vô nước?</p>
                        <p>Đặc biệt, bạn sẽ sửa chữa máy ở đâu khi đã hết thời gian bảo hành 12 tháng? </p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_highlight">
                        <ul>
                            <li>
                                <p>Hạn mức trách nhiệm</p>
                                <p style="text-align: left">
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.insuranceAmount | numberConverter}} VNĐ</strong>
                                    /nhà/năm 
                                    <br/>
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.accompanyingInsuranceProgramPackageData.insuranceAmount | numberConverter}} VNĐ</strong>
                                    /năm
                                    <br/>Đối với Tài sản bên trong (trong đó 10 triệu đồng/đồ vật)
                                </p>
                                    
                                <p></p>
                            </li>
                            <li>
                                <p>Phí bảo hiểm</p>
                                <p>
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.insuranceCost | numberConverter}} VNĐ</strong>
                                    /nhà/năm</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- <section class="product_details_section bg_white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/house3.jpg" alt="" class="img_responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Đối tượng được bảo hiểm</h2>
                    </div>
                    <div class="product_details_description">
                        <ul>
                            <li>
                                <strong>Ngôi nhà:</strong> có kết cấu được xây dựng bằng gạch, đá hoặc bê tông và không quá 30 năm
                                tuổi kể từ năm xây dựng (bao gồm nhà ở và
                                <strong>nhà ở có hoạt động hộ kinh doanh cá thể</strong>).</li>
                            <li>Tài sản bên trong: Là tất cả đồ đạc, dụng cụ gia đình và các tài sản khác trong ngôi nhà, nhưng
                                <strong>không</strong> bao gồm:
                                <ul>
                                    <li>Ô tô, mô tô, xe gắn máy, xe đạp và các phương tiện giao thông khác.</li>
                                    <li>Tiền, vàng bạc, đá quý, các thiết bị di động (máy tính xách tay, điện thoại di động,
                                        máy tính bảng...).</li>
                                    <li>Hàng hóa trong kinh doanh.</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="product_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Quyền lợi bảo hiểm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Để giải tỏa những lo lắng đó của bạn, chúng tôi đã cho ra mắt sản phẩm Happy Care bao gồm cả 3 dịch vụ sau để bảo vệ cho chiếc điện thoại, máy tính xách tay của bạn:</p>
                        <ul>
                            <li>Bảo hiểm rơi vỡ/vô nước.</li>
                            <li>Gia hạn (kéo dài) thời gian bảo hành</li>
                            <li>Bảo vệ toàn diện trong 02 năm.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/house2.jpg" alt="" class="img_responsive">
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_features_section bg_white">
    <div class="container">
        <div class="product_details_content">
            <div class="row">
                <div class="col-md-12">
                    <div class="product_details_title">
                        <h2>Các điểm nổi bật của sản phẩm</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td class="col-md-3 mobile_hide"></td>
                            <td class="col-md-9 col-xs-12 highlight text-center text-bold">
                                <strong>HAPPY CARE</strong>
                            </td>
                            <!-- <td class="col-md-4 text-center text-bold mobile_hide">
                                <strong>SẢN PHẨM THÔNG THƯỜNG</strong>
                            </td> -->
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide">
                                <strong>Gia hạn bảo hành</strong>
                            </td>
                            <td class="col-md-9 col-xs-12 highlight">
                                <ul>
                                    <li>Kéo dài thời gian bảo hành của sản phẩm thêm 12 tháng (tính từ thời điểm hết bảo hành chính hãng).</li>
                                    <li>Ðiều kiện và điều khoản bảo hành giống như điều kiện và điều khoản bảo hành của nhà sản xuất.</li>
                                    <li>Bồi thường tối đa đến hết giá trị máy tại thời điểm mua.</li>
                                    <li>Không áp dụng mức miễn thường.</li>
                                </ul>
                            </td>
                            <!-- <td class="col-md-4 mobile_hide">
                                <ul>
                                    <li>
                                        <strong>PHẢI</strong> kê khai, định giá giá trị ngôi nhà.</li>
                                    <li>
                                        <strong>PHẢI</strong> kê khai danh mục tài sản bên trong.</li>
                                </ul>
                            </td> -->
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide">
                                <strong>Bảo hiểm thiệt hại vật chất</strong>
                            </td>
                            <td class="col-md-9 col-xs-12 highlight">
                                <ul>
                                    <li>Bảo hiểm cho các tổn thất bất ngờ bao gồm tổn thất rơi vỡ hoặc tổn thất do chất lỏng.</li>
                                    <li>Bồi thường tối đa đến hết giá trị máy tại thời điểm mua.</li>
                                </ul>
                            </td>
                            <!-- <td class="col-md-4 mobile_hide">
                                <ul>
                                    <li>Để được bồi thường đầy đủ khách hàng
                                        <strong>phải tham gia</strong>phải tham gia bảo hiểm theo đúng giá trị thực tế của ngôi nhà
                                        và tài sản bên trong.</li>
                                    <li>
                                        <strong>CHỈ</strong> bồi thường theo giá trị thực tế của ngôi nhà tại thời điểm tổn thất
                                        và chỉ bồi thường theo tỷ lệ (nếu tham gia dưới giá trị).</li>
                                </ul>
                            </td> -->
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide">
                                <strong>Bảo vệ toàn diện</strong>
                            </td>
                            <td class="col-md-9 col-xs-12 highlight">
                                <ul>
                                    <li>Năm thứ 1: bảo hiểm cho các tổn thất bất ngờ bao gồm tổn thất rơi vỡ hoặc tổn thất do chất lỏng.</li>
                                    <li>Năm thứ 2: bảo hiểm cho các tổn thất thuộc phạm vi bảo hành của nhà sản xuất.</li>
                                    <li>Bồi thường tối đa đến hết giá trị máy tại thời điểm mua.</li>
                                    <li>Được khôi phục giá trị bồi thường cao nhất nếu chưa sử dụng hết quyền lợi bảo hiểm trong năm đầu tiên.</li>
                                </ul>
                            </td>
                            <!-- <td class="col-md-4 mobile_hide">
                                <ul>
                                    <li>
                                        <strong>PHẢI</strong> có hồ sơ gốc mới được giải quyết bồi thường</li>
                                    <li>
                                        <strong>PHẢI</strong> cung cấp hóa đơn/hợp đồng mua ban đầu đối với các tài sản bên trong
                                        khi yêu cầu bồi thường.</li>
                                    <li>
                                        <strong>PHẢI</strong> giám định thiệt hại trong mọi trường hợp tổn thất.</li>
                                </ul>
                            </td> -->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/product_introduction_03.png" alt="" class="img_responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Làm gì khi xảy ra tai nạn?</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Gọi ngay đến số
                            <strong>19006727</strong>
                            <!-- hoặc
                            <strong>0898078696</strong>  -->
                            để được hỗ trợ và hướng dẫn</p>
                        <!-- <p>Thông báo ngay cho
                            <strong>CƠ QUAN CÔNG AN</strong> hoặc
                            <strong>CHÍNH QUYỀN ĐỊA PHƯƠNG</strong> trong trường hợp tai nạn nghiêm trọng (tử vong…)</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section buy_now">
    <div class="container">
        <div class="row">
            <button type="button" (click)="buyNow()" class="btn btn-lg btn-warning center-block">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua ngay</button>
        </div>
    </div>
</section>