<section class="sub_banner sub_product_vehicle_insurance">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>XẾ YÊU BƯU ĐIỆN - VẬT CHẤT XE MÁY</h2>
                <p>Bảo hiểm vật chất dành cho Xe máy cá nhân</p>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_introduction_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Giới thiệu sản phẩm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Mua XẾ YÊU BƯU ĐIỆN - VẬT CHẤT XE MÁY là kế hoạch tài chính tốt nhất để bảo vệ xe máy của bạn trước các tai
                            nạn không mong muốn trong cuộc sống hiện nay.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_highlight">
                        <ul>
                            <li>
                                <p>Mức trách nhiệm bảo hiểm</p>
                                <p>
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.insuranceAmount | numberConverter}} VNĐ</strong>
                                    /xe/năm</p>
                            </li>
                            <li>
                                <p>Phí bảo hiểm</p>
                                <p>
                                    <strong>{{optionPackages?.insurancePackageDetails[0]?.insuranceCost | numberConverter}} VNĐ</strong>
                                    /xe/năm</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section bg_white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/moto2.jpg" alt="" class="img_responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Đối tượng được bảo hiểm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Bất kỳ loại xe máy nào miễn là không quá 18 năm kể từ năm đăng ký lần đầu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Quyền lợi bảo hiểm</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Thiệt hại xe máy do những tai nạn bất ngờ như đâm va, lật đổ, cháy, nổ và các tai nạn khác không
                            bị loại trừ.
                        </p>
                        <p>
                            Bồi thường tối đa 03 lần/năm (Mức khấu trừ: 20% giá trị tổn thất, tối thiểu 100.000 đồng/ vụ):
                        </p>
                        <ul>
                            <li><strong>Tổn thất lần đầu tiên:</strong>
                                <ul>
                                    <li>Bồi thường tối đa đến Mức trách nhiệm bảo hiểm/vụ nếu ĐÃ cung cấp hình ảnh hiện trạng
                                        xe hợp lệ trước ngày xảy ra tổn thất;</li>
                                    <li>Bồi thường tối đa 5% Mức trách nhiệm bảo hiểm/ vụ nếu CHƯA cung cấp hình ảnh hiện trang
                                        xe hợp lệ trước ngày xảy ra tổn thất;</li>
                                    <p><strong>- Chụp ảnh hiện trạng xe:</strong></p>
                                    <li>Bằng cách nhấn vào đường dẫn có trong tin nhắn SMS mà chúng tôi gửi cho Bạn sau khi đăng
                                        ký mua thành công.</li>
                                    <li>Hình ảnh hiện trạng xe gồm có 03 ảnh: 01 ảnh phía trước xe, 01 ảnh phía sau bên trái
                                        xe, 01 ảnh phía sau bên phải xe - có thể hiện biển số xe.</li>
                                    <li>Bạn sẽ tiếp tục nhận được xác nhận bằng tin nhắn SMS sau khi đã gửi hình ảnh hiện trạng
                                        xe hợp lệ cho Chúng tôi.</li>
                                </ul>
                            </li>
                            <li><strong>Tổn thất từ lần thứ hai trở đi:</strong> Bồi thường tối đa đến Mức trách nhiệm bảo hiểm/vụ.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/moto1.jpg" alt="" class="img_responsive">
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_features_section bg_white">
    <div class="container">
        <div class="product_details_content">
            <div class="row">
                <div class="col-md-12">
                    <div class="product_details_title">
                        <h2>Các điểm nổi bật của sản phẩm</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td class="col-md-3 mobile_hide"></td>
                            <td class="col-md-5 col-xs-12 highlight text-center text-bold">
                                <strong>BẢO HIỂM VẬT CHẤT XE MÁY</strong>
                            </td>
                            <td class="col-md-4 text-center text-bold mobile_hide">
                                <strong>SẢN PHẨM THÔNG THƯỜNG</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide">
                                <strong>Thủ tục mua bảo hiểm</strong>
                            </td>
                            <td class="col-md-5 col-xs-12 highlight">
                                <strong>KHÔNG</strong> cần khai báo giá trị thực tế xe nhưng vẫn được bồi thường đến hết hạn mức
                                trách nhiệm.</td>
                            <td class="col-md-4 mobile_hide">
                                <strong>PHẢI</strong> khai báo giá trị xe thực tế tại thời điểm mua bảo hiểm.</td>
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide">
                                <strong>Quyền lợi bảo hiểm</strong>
                            </td>
                            <td class="col-md-5 col-xs-12 highlight">
                                <ul>
                                    <li>
                                        <strong>KHÔNG</strong> tính khấu hao sử dụng đối với tổn thất bộ phận.</li>
                                    <li>
                                        <strong>KHÔNG</strong> áp dụng nguyên tắc bảo hiểm dưới giá trị.</li>
                                </ul>
                            </td>
                            <td class="col-md-4 mobile_hide">
                                <ul>
                                    <li>Để được bồi thường đầy đủ khách hàng
                                        <strong> PHẢI </strong> tham gia bảo hiểm theo đúng giá trị thực tế của xe máy.</li>
                                    <li>Bồi thường nhưng
                                        <strong> CÓ TÍNH</strong> khấu hao sử dụng và chỉ bồi thường theo tỷ lệ (nếu tham gia dưới
                                        giá trị).</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-3 text-right mobile_hide">
                                <strong>Thủ tục bồi thường</strong>
                            </td>
                            <td class="col-md-5 col-xs-12 highlight">
                                <ul>
                                    <li>
                                        <strong>KHÔNG</strong> yêu cầu có xác nhận của cơ quan có thẩm quyền tại nơi xảy ra tai nạn.</li>
                                    <li>
                                        Duyệt bồi thường
                                        <strong> NGAY</strong> qua hình ảnh mà
                                        <strong> KHÔNG CHỜ</strong> hồ sơ gốc</li>
                                    <li>
                                        <strong>ĐƯỢC</strong> bảo lãnh thanh toán như đối với xe ô tô.</li>
                                    <li>
                                        Thanh toán bồi thường bằng tiền cho Quý Khách nếu Quý khách có nhu cầu nhận tiền bồi thường và tự sửa chữa (không cần chờ
                                        sửa chữa và nghiệm thu xong).</li>
                                    <li>
                                        <strong>CHỈ</strong> thực hiện giám định đối với các vụ tổn thất toàn bộ và phức tạp.</li>
                                </ul>
                            </td>
                            <td class="col-md-4 mobile_hide">
                                <ul>
                                    <li>Yêu cầu
                                        <strong> phải</strong> có xác nhận của cơ quan có thẩm quyền tại nơi xảy ra tai nạn</li>
                                    <li>
                                        <strong>Chỉ</strong> giải quyết bồi thường khi có hồ sơ gốc.</li>
                                    <li>
                                        <strong>Không bảo lãnh thanh toán</strong> đối với xe máy.</li>
                                    <li>Xe sửa chữa và nghiệm thu xong mới được thanh toán bồi thường.</li>
                                    <li>Giám định thiệt hại trong mọi trường hợp bởi giám định viên (Sẽ bị chậm trễ cho khách
                                        hàng).
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <img src="/assets/images/product_introduction_03.png" alt="" class="img_responsive">
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="product_details_content">
                    <div class="product_details_title">
                        <h2>Làm gì khi xảy ra tai nạn?</h2>
                    </div>
                    <div class="product_details_description">
                        <p>Gọi ngay đến số
                            <strong>19006727</strong>
                            <!-- hoặc
                            <strong>0898078696</strong>  -->
                            để được hỗ trợ và hướng dẫn</p>
                        <!-- <p>Thông báo ngay cho
                            <strong>CƠ QUAN CÔNG AN</strong> hoặc
                            <strong>CHÍNH QUYỀN ĐỊA PHƯƠNG</strong> trong trường hợp tai nạn nghiêm trọng (tử vong…)</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section buy_now">
    <div class="container">
        <div class="row">
            <button type="button" (click)="buyNow()" class="btn btn-lg btn-warning center-block">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Mua ngay</button>
        </div>
    </div>
</section>
