<section class="sub_banner sub_policy_background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Điều khoản sử dụng</h2>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_introduction_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product_details_content">
                    <div class="product_details_description">
                        <p style="font-size: 16px">Quý khách vui lòng đọc kỹ các điều khoản sử dụng trước khi sử dụng website
                            <a href="http://etpasaigon.vn" target="_blank">http://etpasaigon.vn</a> của Công ty Bảo hiểm Bưu điện Sài Gòn (PTI) và các ứng dụng (App) của PTI hoặc đối tác của PTI liên kết đến website
                            <a href="http://etpasaigon.vn" target="_blank">http://etpasaigon.vn
                            (sau đây gọi chung là "website")</a>. Bằng việc sử dụng website này, Quý khách mặc nhiên đồng ý với tất cả các điều khoản sử dụng website ở dưới đây. Nếu Quý khách không đồng ý với bất kỳ điểm nào trong điều khoản sử dụng website, Quý khách không được phép sử dụng website này. Tiếp tục sử dụng website, Quý khách đã chấp nhận điều khoản sử dụng cũng như bất kỳ thay đổi nào về điều khoản sử dụng website của PTI mà không cần thông báo cho Quý khách. Xin hãy kiểm tra trang này thường xuyên để cập nhật các thay đổi có thể có. 
                        </p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Được phép sử dụng</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">
                            Tất cả các nội dung của website chỉ dành cho mục đích sử dụng hợp pháp và phi thương mại của cá nhân và tổ chức. Việc sử dụng website này của các công ty đối thủ cạnh tranh hay các bên thứ ba không phải người tiêu dùng đều bị cấm.                            
                        </p>
                        <p style="font-size: 16px">
                            Trừ khi được sự cho phép của pháp luật, không ai được phép mà không có sự đồng ý của PTI thực hiện những hành động sau:                            
                        </p>
                        <ol start="1" style="font-size: 16px">
                            <li>Đặt liên kết từ website khác đến website này;</li>
                            <li>Sao chép, thay đổi hoặc phát tán các nội dung của website;</li>
                            <li>Kết nối vào website này một cách có hệ thống để thu thập nội dung hoặc dữ liệu từ website này.</li>
                        </ol>
                    </div>

                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Bản quyền và thương hiệu</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">
                            Trừ khi có chỉ định khác, tất cả các tài liệu trong website này, bao gồm không giới hạn các logo và nhãn hiệu dịch vụ, là tài sản của PTI. Quý khách có thể sử dụng các nội dung từ các website này cho các mục đích được phép quy định tại các Điều khoản sử dụng, với điều kiện phải thông báo bản quyền sau đây xuất hiện trong tất cả các bản sao của bất kỳ tài liệu tải xuống hoặc in: "@ 2018 - PTI Sài Gòn".
                        </p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Sản phẩm và dịch vụ của chúng tôi</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">
                            Các thông tin và nội dung của website này chỉ dành cho mục đích tham khảo chung, không được mô tả thành các điều khoản, điều kiện và các ngoại lệ áp dụng với các sản phẩm và dịch vụ mà PTI cung cấp trên website này. Tất cả các điều khoản điều kiện bảo hiểm cho các sản phẩm bảo hiểm mà PTI cung cấp trên website này đều tuân thủ theo Quy tắc bảo hiểm và các điều khoản điểu kiện bổ sung, sửa đổi được ban hành kèm theo. Tất cả các sản phẩm và dịch vụ được PTI cung cấp tại website này đều nằm trong phạm vi luật pháp cho phép.
                        </p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Đánh giá rủi ro và kiểm tra hiện trạng trước khi cấp đơn bảo hiểm</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">Trong các sản phẩm bảo hiểm được bán trên website, chúng tôi không yêu cầu đánh giá rủi ro và kiểm tra hiện trạng trước khi cấp đơn.
                        </p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Các trường hợp sau sẽ được xem là đối tượng bảo hiểm không đạt yêu cầu:</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">
                            <b>Đối tượng bảo hiểm bao gồm nhưng không giới hạn xe cơ giới, nhà, tài sản và người được bảo hiểm </b>
                            không đáp ứng điều kiện tham gia bảo hiểm như quy định trong sản phẩm bảo hiểm cụ thể, đối tượng bảo hiểm đã phát sinh tai nạn hoặc các điểm loại trừ trong quy tắc bảo hiểm...
                        </p>
                        
                        <p style="font-size: 16px">
                            Thông tin khách hàng khai báo về tài sản trên website không đúng với thực tế, đồng thời thông tin khai báo sai làm thay đổi tổng phí khách hàng đã trả qua website.
                        </p>
                        <p style="font-size: 16px">
                            Trường hợp kiểm tra hiện trạng phát hiện khai báo thông tin sai sót so với thực tế kiểm tra, Chúng tôi sẽ thống nhất với Quý khách và chỉnh sửa để cấp lại đơn bảo hiểm hoặc hủy đơn bảo hiểm và hoàn phí cho Quý khách theo quy định.
                        </p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Sự riêng tư và mật khẩu</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">
                            PTI bảo vệ quyền riêng tư về thông tin Quý khách cung cấp. Xem chi tiết tại "Chính sách bảo mật thông tin cá nhân".    
                        </p>
                        <p style="font-size: 16px">
                            Một số khu vực trên website được bảo vệ, yêu cầu người dùng phải cung cấp đúng tên truy nhập và mật khẩu mới được phép truy cập. Các truy nhập không được phép đều bị cấm. Quý khách đồng ý rằng Quý khách sẽ cung cấp ngay thông tin cho PTI nếu Quý khách tin rằng một bên thứ ba đã có được tên truy nhập và mật khẩu của Quý khách, hoặc nếu Quý khách tin rằng có truy nhập trái phép đang diễn ra. Để bảo vệ Quý khách, PTI sẽ cấm quyền truy nhập của Quý khách mà không cần thông báo trước khi tin rằng có truy nhập trái phép bằng tên truy nhập và mật khẩu của Quý khách đang diễn ra. Trong trường hợp có thông tin về truy nhập trái phép xảy ra, PTI sẽ dùng tên truy nhập và mật khẩu của Quý khách để xem xét theo các thông tin đó với sự ủy quyền của Quý khách.    
                        </p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Liên kết với website của bên thứ ba</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">
                            Trong một số trường hợp website này có thể liên kết đến website của một bên thứ ba nào đó và ngược lại. Các liên kết này chỉ có mục đích làm thuận tiện việc tra cứu thông tin, không có giá trị giới thiệu hay xác nhận giữa hai website.    
                        </p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Từ chối bảo đảm</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">
                            Tất cả mọi thông tin, nội dung của website này nếu được các bên thứ ba (không phải là khách hàng) sử dụng hoặc cung cấp lại đều không nhận được sự bảo đảm từ PTI.
                        </p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Thẩm quyền, thực thi và chấm dứt</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">
                            Các điều khoản sử dụng website này được điều chỉnh bởi luật và các quy định dưới luật của Nước Cộng hòa Xã hội Chủ nghĩa Việt Nam. Mọi tranh chấp liên quan đến website này hoặc các điều khoản sử dụng của website được quyết định bởi tòa án có thẩm quyền.    
                        </p>
                        <p style="font-size: 16px">Trong trường hợp tòa án có thẩm quyền tuyên bố bất kỳ điều khoản nào là không hợp lệ hoặc không thể thực thi, các điều khoản này sẽ bị loại bỏ mà không ảnh hưởng đến các điều khoản thực thi còn lại.                            
                        </p>
                        <p style="font-size: 16px">
                            Các điều khoản sử dụng website này có thể chấm dứt hiệu lực thực thi bởi Quý khách hoặc PTI. Quý khách có thể dừng ngay lập tức việc tuân thủ các điều khoản sử dụng bằng cách ngừng sử dụng website và tiêu hủy tất cả các nội dung, tài liệu liên quan được cung cấp bởi website này. PTI có thể hủy bỏ hoặc bổ sung các điều khoản sử dụng website, hoặc dừng cung cấp các sản phẩm đang bán trên website tại bất kỳ thời điểm nào mà không cần thông báo cho Quý khách.
                        </p>
                        <p style="font-size: 16px">
                            Tất cả các điều khoản sử dụng website đều được tuyên bố theo các mục đã nêu ở trên.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>