<section class="sub_banner sub_policy_background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Giới thiệu Tổng công ty Cổ phần Bảo hiểm Bưu điện</h2>
            </div>
        </div>
    </div>
</section>
<section class="product_details_section product_introduction_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product_details_content">
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Giới thiệu chung</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">Tổng Công ty Cổ phần Bảo hiểm Bưu điện (PTI) tiền thân là Công ty Cổ phần Bảo hiểm Bưu điện được được Bộ Tài chính cấp Giấy chứng nhận đủ tiêu chuẩn và điều kiện hoạt động kinh doanh bảo hiểm số 10/TC/GCN ngày 18/06/1998, được Uỷ ban Nhân dân thành phố Hà Nội thành lập theo Giấy phép số 3633/GP-UB ngày 01/8/1998 và Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp Giấy chứng nhận đăng ký kinh doanh số 055051 ngày 12/8/1998. PTI có 7 cổ đông sáng lập: Tập đoàn Bưu chính Viễn thông Việt Nam (VNPT), Tổng công ty Cổ phần Tái bảo hiểm Quốc gia Việt Nam (VINARE), Tổng công ty Cổ phần Bảo Minh, Tổng công ty Xây dựng Hà Nội (HACC), Tổng công ty xuất nhập khẩu xây dựng Việt Nam (VINACONEX), Công ty Cổ phần Thương mại Bưu chính Viễn thông (COKYVINA) và Ngân hàng thương mại cổ phần Quốc tế Việt Nam ( VIB), trong đó, Tập đoàn VNPT vừa là cổ đông, vừa là khách hàng lớn nhất của PTI.</p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Thông Tin</h3>
                    </div>
                    <div class="product_details_description">
                        <ul style="font-size: 16px">
                            <li>Tên đầy đủ và chính thức: Tổng công ty Cổ phần Bảo hiểm Bưu điện</li>
                            <li>Tên giao dịch bằng tiếng Việt: Bảo hiểm Bưu điện</li>
                            <li>Tên tiếng Anh: Post and Telecommunication Joint Stock Insurance Corporation</li>
                            <li>Tên viết tắt: PTI</li>
                            <li>Vốn điều lệ: 503.957.090.000 VNĐ</li>
                            <li>Trụ sở chính: Tầng 8, Số 4A Láng Hạ, Quận Ba Đình, Thành phố Hà Nội</li>
                            <li>Điện thoại: (84-4) 37724466/(84-4) 37724466 - Fax (84-4) 37724460/37724461</li>
                            <li>Website: www.pti.com.vn </li>
                        </ul>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Tầm nhìn và sứ mệnhh</h3>
                        
                    </div>
                    <div class="product_details_description">
                        <ul style="font-size: 16px">
                            <li>PTI là doanh nghiệp bảo hiểm phi nhân thọ hàng đầu trong lĩnh vực bán lẻ, thực sự trở thành "Công ty bảo hiểm của cộng đồng".</li>
                            <li>PTI cam kết đem lại cho cộng đồng những sản phẩm bảo hiểm thiết thực, chất lượng dịch vụ chuẩn mực thông qua hệ thống bán hàng và dịch vụ khách hàng phủ kín toàn quốc.</li>
                        </ul>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Giá trị cốt lõi</h3>
                    </div>
                    <div class="product_details_description">
                        <ul style="font-size: 16px">
                            <li>Chia sẻ: Chia sẻ là cách làm thiết thực để PTI thể hiện trách nhiệm của mình với cộng đồng xã hội. Mặt khác, chia sẻ tạo sự gắn bó, đồng cảm, thân ái, đầy tình người giữa các thành viên PTI, qua đó góp phần tạo sự phát triển bền vững của PTI.</li>
                            <li>Sáng tạo: Sáng tạo để tạo nên sự khác biệt hơn, hấp dẫn hơn, thiết thực hơn, nhân văn hơn, trên cơ sở đó tạo lợi thế để PTI chiếm lĩnh thị trường, mở rộng thị phần của mình, qua đó đem lại những giá trị mới tốt hơn cho khách hàng và các thành viên đại gia đình PTI .</li>
                            <li>Tôn trọng sự khác biệt: Tôn trọng, ủng hộ và quan tâm nghiêm túc đối với những cái mới, những cái khác biệt sẽ là môi trường thuận lợi nhất cho tinh thần sáng tạo không ngừng phát triển, góp phần tạo ra sự tăng trưởng nhanh chóng và bền vững của PTI trong tương lai.</li>
                        </ul>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Tính cách thương hiệu</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">PTI xác định 3 yếu tố quan trọng hình thành nên tính cách thương hiệu của PTI là:</p>
                        <ul style="font-size: 16px">
                            <li>Cảm xúc thân thiện, gần gũi và thích: Cái này hoàn toàn cảm tính và do trái tim quyết định, không phải lý trí .</li>
                            <li>Theo dư luận hay tâm lý đám đông</li>
                            <li>Theo phân tích mang tính kỹ thuật (lý trí )</li>
                        </ul>
                        <p style="font-size: 16px">Chân thành - Tín nghĩa - Sẻ chia. Đây là 3 phẩm chất quan trọng nhất của một người bạn đích thực: đối xử chân thành, không vụ lợi và ồn ào; tôn trọng chữ tín và là người giữ chữ tín, có tính cách nghĩa hiệp; coi khó khăn của bạn là khó khăn của mình và sẵn sàng chia sẻ cả lúc vui lẫn lúc buồn, kể cả khi thành công hay khi gặp hoạn nạn khó khăn đều có PTI bên bạn. Một người bạn như vậy sẽ được gắn bó lâu dài - Khi làm được điều đó thì thương hiệu của PTI sẽ tồn tại bền vững và lâu dài trong lòng khách hàng.</p>
                    </div>
                    <div class="product_details_title" style="padding-bottom: 8px;">
                        <h3>Dấu mốc phát triển</h3>
                    </div>
                    <div class="product_details_description">
                        <p style="font-size: 16px">2018</p>
                        <ul style="font-size: 16px">
                            <li>Tổng công ty cổ phần Bảo hiểm Bưu điện nhận Huân chương Lao động hạng Nhất</li>
                            <li>PTI đạt giải thưởng quốc tế cho các hoạt động vì cộng đồng</li>
                            <li>Lần đầu tiên Việt Nam có Bảo hiểm Tình yêu: Thử thách 3 năm, nhận 'quà cưới' 30 triệu đồng</li>
                            <li>PTI 20 năm – Vững một niềm tin</li>
                            <li>Bảo hiểm Bưu điện PTI đồng hành cùng V League 2</li>
                            <li>PTI được vinh danh tai giải thưởng công nghệ số</li>
                            <li>PTI vinh dự nhận giải thưởng thương hiệu xuất sắc thế giới</li>
                            <li>PTI đạt 4.000 tỷ đồng doanh thu năm 2018 </li>
                        </ul>
                        <p style="font-size: 16px">2017</p>
                        <ul style="font-size: 16px">
                            <li>PTI hợp tác cùng ngân hàng công nghiệp (IBK) Hàn Quốc</li>
                            <li>PTI ra mắt sản phẩm Car 3, Car 5.</li>
                            <li>PTI ra mắt công ty bảo hiểm Bưu điện Thái Bình</li>
                            <li>Vndirect nâng tỷ lệ sở hữu tại PTI lên 18,68%</li>
                            <li>PTI được tôn vinh tại sự kiện hội nhập quốc tế</li>
                            <li>PTI ra mắt trung tâm giám định bồi thường khu vực Hà Nội</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>